[2015-10-23 15:32] brymz opened #2 "add `brick()` next to `stack()` to illustrate differences in functions"

[2015-10-23 15:42] brymz opened #3 "Check min-max values existing in data vs. `setMinMax()`"

[2015-10-23 17:36] msmorul opened #5 "NDVI example"
Identify and add data so the class can run an example where they calculate ndvi

[2015-10-23 17:37] msmorul opened #6 "Geotiff exampl"
Need to add a geotiff w/ the following characteristics:
- has not been reprojected
- has -9999 values

[2015-10-23 17:39] msmorul opened #7 "Objective 3 extract"
Write up an example to use extract. The use case would be to find the temperature of an area where a specific point observation occured. Some overlap w/ the integration group, but this is an introduction to extract.

[2015-10-23 17:59] msmorul opened #10 "update 3 and 4"
Merge stub / lessons material and `raster_module_code.R` into 03 and 04

[2015-10-23 18:01] msmorul opened #11 "Link to integration"
Check w/ vector/inteagration group and make sure their requirements are pre-loaded at the end of this lesson. Are the right rasters loaded in memory.

[2015-10-23 18:02] msmorul opened #12 "Export rgb/raster"
At end of lesson chm and very end, save calculated chm geotiff and ndvi csv

[2015-10-23 18:03] msmorul opened #13 "Write reprojection lesson"
Write lesson for performing a reprojecetion on the raw landsat.

[2015-10-23 18:05] msmorul commented on #5
tbd: should the lesson loop over multiple files to calculate ndvi across many years?

[2015-10-23 18:07] KristinaRiemer opened #14 "Incorporate story arc"
Once the code and steps for all the lessons are complete, make sure they fit into the broader "Jessica" story. That is, justify why these functions will be useful for answering scientific questions.

[2015-10-23 19:43] #10 closed

[2015-10-29 18:10] lwasser opened #17 "General Timeline, Who has Time to work on What"
Hi Spatial Raster Group- @jhollist @msmorul @KristinaRiemer @JasonJWilliamsNY @brymz !
I'm very excited to see the material shelled out here in this repo!

I wanted to followup to see

1. Who has time to work on fleshing out these lessons further
2. How i can help
3. To figure out a timeline for pushing these lessons along

Let's start a discussion in this issue. It is understandable if you are to

[2015-10-29 19:15] brymz commented on #17
I am doing everything I can to finish my dissertation. I want to stay involved, but have very little time to dedicate. That being said, I'm working every week to develop lesson materials at http://www.datacarpentry.org/semester-biology/. So, there's a chance I could get the OK to use some of my time from that on this.

[2015-10-29 19:30] KristinaRiemer commented on #17
I will have some time to work on the lessons. I'm hoping to set aside a couple hours a week for this. I've already started going through the lessons to clean up/improve them and create or modify issues when necessary, but I was planning on doing some more work before creating a pull request.

In order to finish some of the lessons, we need a slight different dataset and you said you could help us

[2015-10-29 20:08] lwasser commented on #17
@brymz -- no problem. DISSERTATION COMES FIRST! It is very helpful to know you are over taxed at the moment. If you do have time, let me know. but get your phd done!! :) We can fill in lesson gaps no problem. @KristinaRiemer THANK YOU. i'll check out issue 6 and will get back to ya! I can also help you work on the lessons - we can divy things up where it makes sense !! :)

@KristinaRiemer Please d

[2015-10-29 21:19] lwasser commented on #6
Hi @msmorul @KristinaRiemer I can definitely get you this ! Tell me - what lesson will this fit into? i think the ideal dataset might be the canopy height model (CHM) that we use in other lessons too. I can modify it to include -9999 values in gaps or on the edges or something.

Also when you say it has not been reprojected. Do you mean you'd like it in something other than UTM Zone north? Maybe g

[2015-10-29 23:53] jhollist commented on #6
I like the idea of having this in geographic coords and having them project to UTM.  Very common!!!

[2015-10-30 00:26] jhollist commented on #17
I'll spend some time tomorrow digging around here.  I may be able to carve out a few hours tomorrow and maybe some next week to try and tackle an issue or two.  I'll follow up here after I have had a chance to look.

[2015-10-30 17:34] jhollist commented on #17
Couple of questions/comments.

1.) I'd be happy to work on a re-projection lesson (see #13 ).
2.) I'm just starting to dig into the structure of the repo and if I am write a new lesson where would that go and what format should I follow?  Would the new lesson be something like 0X-re-project-raster.Rmd and follow the same format?

I can probably hammer this out next week.

[2015-10-30 17:57] lwasser commented on #17
Hi Jeff,
Cool - i think that the stuff on reprojection would fit nicely right after the plot raster lesson?

Or it could also go in the raster / vector integration part - here we show them how to reproject (spTransform) vectors. But we don't touch rasters.

https://github.com/data-lessons/NEON-R-Spatial-Vector/blob/gh-pages/02-csv-vector-raster-plotting.Rmd

Regardless i think we need a lesson on

[2015-11-03 14:24] KristinaRiemer commented on #17
I definitely think we should do a reprojection within the raster lessons. I think it would be cognitively easier for people to understand what projections are and how to reproject before integrating rasters and vectors. So @lwasser, you think we should have a lesson just about raster projections? We currently have it as a to-do in lesson 2, but we could create a new lesson .Rmd for just that topic

[2015-11-03 18:34] lwasser commented on #17
Hey @KristinaRiemer -- good question -- I think it's important to know how to reproject a raster! It could be a lesson - albeit quite short :)

One thing i noticed - you guys cover CROPPING rasters in lesson 02. But we cover it as well (pretty much the same content) in the spatial - vector lessons. SO -- maybe we could add the reprojection to lesson 02 (modify rasters) and remove the cropping. We

[2015-11-03 18:48] brymz commented on #17
Our intention for our workshop section was to introduce the main functions and arguments of the `raster` package. We included what we considered a trivial example of `crop()`, expecting for the spatial-vector lessons to continue and expand from our cursory introduction. I think Lesson 02 could introduce both crop and reproject with spatial-vector effectively following-up on the topics. This way th

[2015-11-03 18:55] lwasser commented on #17
sounds good. Just a note -- the most common applied use case associated with cropping rasters - is to use a vector extent OR boundary. We didn't do anything advanced although we could add content. Our content is actually close to identical to yours in terms of the draw extent part (which i have mixed feelings about)! We then bring in a vector and do a typical GIS crop.

http://data-lessons.github.

[2015-11-03 19:19] brymz commented on #17
Cool beans. I definitely think merging the two sets of lessons could work. The [Canopy Height Model Lesson](http://neondataskills.org/lidar-data/lidar-data-rasters-in-R/) does a great job with that.

[2015-11-03 19:23] jhollist commented on #17
Not much to add other than :+1: on merging.  It seems pretty rare to do an
raster analysis that doesn't also use vector to some extent...

On Tue, Nov 3, 2015 at 2:19 PM, Zack Brym <notifications@github.com> wrote:

--
Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2015-11-03 19:36] lwasser commented on #17
ok cool - thanks guys!!
I moved on to the multi-band raster lesson - lesson 03. We can then sort out how to merge!  :) i'm very happy with how these lessons are coming together!

@KristinaRiemer if you want to work on the plotting lesson - Lesson 01 - that might be good? but totally up to what you are psyched to work on :) i'm just jumping in to help move things along! I know how busy you all are

[2015-11-03 19:48] KristinaRiemer commented on #17
@lwasser I'll work on lesson 01 (plotting) tomorrow, and I'll let you know if I have any questions. I also agree that merging seems like a good idea.

[2015-11-03 20:14] lwasser commented on #13
Hey @jhollist - do you have any interest in taking a stab at Lesson 02 and consider incorporating reprojection in it? Not sure what your time looks like so feel free to say no :)

[2015-11-03 20:18] lwasser commented on #17
:+1: thank you @KristinaRiemer ! and please let me know if i'm asking too much of any of you, ok? OR filling inboxes with too many questions! :)

[2015-11-03 20:22] lwasser opened #18 "Create Geotiff with 4 bands?"
Leah needs to create a geotiff with
1. 4 bands (if this is a good idea for the geotiff format),
2. no data values as -9999 rather than black - then we can teach them to set NAvalue<- -9999 and it will plot pretty
3. what else??

The other option is i could include band 4 as a separate tiff that is in a different CRS - then it needs to be projected?? @jhollist thoughts on this if i need to do this

[2015-11-03 20:25] jhollist commented on #13
Depends on your time line.  Next two weeks are pretty much out for me...

On Tue, Nov 3, 2015 at 3:14 PM, Leah Wasser <notifications@github.com>
wrote:

--
Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2015-11-03 20:33] KristinaRiemer commented on #18
What would you be using the multi-band geotiff for? Is it to replace the RGB tiff for lesson 03?

[2015-11-03 20:39] lwasser commented on #18
Hi @KristinaRiemer -- at the very end of the lesson, there were some very good comments that you guys left:

    #The black bands on the edges are zeros but should be NAs, might want to show
    #them how to turn them into NAs?
    # TODO: Challenge: calculate NDVI, but would need an infrared band to do this
    #-- on it!

The challenge is that the image that i gave to you guys only has 3 bands.

[2015-11-03 21:02] KristinaRiemer commented on #18
@lwasser That sounds great! I just had forgotten about calculating NDVI.

[2015-11-03 21:04] lwasser commented on #18
sure :) i am going to think about how to do this BUT if you have any ideas OR need anything in terms of adjustments to the data - let me know :) Thanks @KristinaRiemer for all the input on things today!!

[2015-11-03 21:16] jhollist commented on #18
@lwasser, perhaps we could also make this image in Geographic and wrap the
re-project in here as well...

On Tue, Nov 3, 2015 at 4:04 PM, Leah Wasser <notifications@github.com>
wrote:

--
Jeff W. Hollister
email: jeff.w.hollister@gmail.com
google voice: 401 326 2531
cell: 401 556 4087

[2015-11-05 00:38] KristinaRiemer opened #20 "Lesson 01 (plotting) questions"
So first, when I made a pull request, it said there are merge conflicts and I have no idea how to deal with that.

Second, what is the difference between plot() and image(), and do we need to introduce image here?

Third, is there anything else that needs to be included in this lesson? I can't think of anything that is basic that might be useful.

[2015-11-05 02:35] lwasser commented on #20
Hi Kristina! Thank you for working on this today :) i think i took care of the merge conflicts. have a look at the file to make sure all looks ok!

Do you know how to update your branch BEFORE doing a pull request. Or the other option is that you can work directly in the repo if you want to do that. whatever you prefer. then you don't have to do a pull request. totally up to you how you'd like to

[2015-11-05 04:07] bbest commented on #20
Note that when you look for help on plot (ie type `?plot` at the command prompt) and you already have the raster package already loaded (ie `library(raster)`), then you're presented with help documentation on functions from two different packages:

- [`raster::plot`](http://www.rdocumentation.org/packages/raster/functions/plot)
- [`graphics::plot`](http://www.rdocumentation.org/packages/graphics/f

[2015-11-05 13:55] jhollist commented on #20
What @bbest said!

To add, `plot` will handle colormaps (if they exist) and `image` won't.  There also can be a performance hit on `image` if you are limiting the x or y axis.  IMO, `plot` is preferable and for this lesson in which we use `raster` sticking with `plot` makes the most sense.

[2015-11-05 14:27] KristinaRiemer commented on #20
Thanks for all the helpful and prompt comments y'all!

@lwasser I definitely forgot to update my branch! I'm still getting used to the collaborative workflow in Github, which is why I would kind of prefer to do pull requests instead of changing the repo directly, if that's okay? This adds another step, but I can accept my pull requests myself so that it's not a hassle for anyone else.

@bbest and

[2015-11-05 14:51] jhollist commented on #20
@KristinaRiemer I think it is OK to mention this but more as an abstract concept, as we don't want to get into the details of OOP in R.  I wouldn't be able to help too much with that anyway, as I don't know a whole lot.  Plus from what I hear it is a bit of a mess.

I think you can say something about many functions (including  plot) often have specific implementations written for specific package

[2015-11-05 14:59] KristinaRiemer commented on #20
@jhollist That's about the level of detail we were thinking about, including trying to plot a raster with the base plot. As @brymz had brought up, it seems like something general that everyone who codes in R should be aware of.

I'll incorporate that into the lesson when I get a chance next week. Thanks!

[2015-11-05 17:44] lwasser commented on #20
Thank you @KristinaRiemer - whatever work flow is good for you, is good for me! :) it will be useful to fork and work remotely to learn more about collaboration in git! Let me know if you run into any other issues. It's much easier to resolve merge conflicts using shell / command line. Very happy to walk you through some of the basics IF at some point you'd like to do that :) Thank you again for t

[2015-11-09 23:32] lwasser commented on #20
Hi @KristinaRiemer ! a quick update!
I went through the plot rasters lesson and added a hill shade exercise at the end (overlaying one raster over another and adding transparency. See what you think and feel free to edit away!

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Plot-Rasters-In-R.R/

I thought that would be cool because then in lesson 02 (a new lesson) i added something on repro

[2015-11-10 18:16] lwasser opened #21 "Functions - Do we have time to explain how to write a function - Raster Calculations in R"
Hi Guys -- i've been working on what is now L03 - modifying rasters in R.

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Modify-Rasters-In-R/

if the above link doesn't work use this one (to be fixed soon)

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Modify-Rasters-In-R.R/

The challenge with this particular lesson is that the best approach to performing raster calculations is no

[2015-11-10 18:50] brymz commented on #21
If folks won't generally find `rasterone-rastertwo` useful, then I would
recommend removing that overly simplistic example and use `overlay()` in
its simplest form instead. You could still have a 'separate advanced
lesson' that gets deeper into `overlay()` uses.

On Tue, Nov 10, 2015 at 12:16 PM, Leah Wasser <notifications@github.com>
wrote:

[2015-11-10 20:19] jduckles commented on #21
We could benefit from functions being introduced before a learner would get to our multi/hyper-spectral lesson as we're using them a bit there.

[2015-11-10 20:33] lwasser commented on #21
Thanks guys. It's OK to perform raster calculations but it doesn't scale so processing becomes increasingly inefficient. Given that, it's probably good to teach `OVERLAY` and make a note that you can do a quick raster calculation but it's not an ideal workflow.

[2015-11-12 14:55] KristinaRiemer commented on #20
@lwasser I like the hill shade overlay added to this lesson. Where can I get the hill shade raster file? (I don't think it's in the figshare).

I'm wondering a bit about the use of "overlay" between lessons 01 and 03. In lesson 01, this means to put a raster on top of another visually, while in lesson 03 overlay means doing math using two rasters. This might be unnecessarily picky, but I could see

[2015-11-12 15:05] KristinaRiemer commented on #21
Functions are kind of a big thing to learn. Does it seem like it would be cognitively easier to do the function within the argument, and not even discuss functions as a separate topic within the lesson? There's a simple example of this in the help for the `overlay` function:

`r5 <- overlay(s, fun=function(x,y) x*y )`

Especially because the function used in this lesson is so simple (just subtract

[2015-11-12 16:37] lwasser commented on #21
hey @KristinaRiemer I COMPLETELY agree. if you think this is simpler, i'd be game to go that direction. i'm concerned about introducing functions in this lesson!

Interesting - can you run overlay without a return statement in the function (the syntax that you included above)?

[2015-11-12 17:10] lwasser commented on #20
@KristinaRiemer totally not picky -- good point. It will be confusing.

Hmmm... language. what language should we use then to stack two rasters on top of each other like we do in the hillshade? Any ideas?

Also - the hillshade is in the most current figshare download! Thank you for noting this.

http://files.figshare.com/2434040/NEON_RemoteSensing.zip

[2015-11-12 18:35] brymz commented on #20
Is an image that represents multiple bands a 'composite' image? 'Stack' is also a potential good option.

[2015-11-12 18:52] mjones01 opened #22 "LiDAR (not lidar)"
To be consistent with other NEON sites and #WorkWithData lessons please use LiDAR instead of lidar or any other variants.

[2015-11-12 20:45] mjones01 commented on #6
@lwasser  As currently set up this would be in Lesson 00.

[2015-11-12 21:52] mjones01 opened #23 "Lesson 01: Pseudo-code chunk"
Can someone fill me in on the purpose of the pseudo-code chunk that begins Lesson 01 (line 70; http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Plot-Rasters-In-R.R/  when rendered everything down to Plotting Raster Files).

Was it just the basic code that was then broken up below for teaching purposes.  Most of it seems to repeat.  I don't want to delete it if it is vital to the lesson, I'm j

[2015-11-12 21:55] lwasser commented on #23
hmmm where?

https://github.com/data-lessons/NEON-R-Spatial-Raster/blob/gh-pages/00-Raster-Structure.Rmd

line 70 is stil the objectives block for me?

[2015-11-12 21:57] mjones01 commented on #23
The code right below the objectives block.
{r pseudo-code} chunk.

[2015-11-12 22:18] mjones01 commented on #23
@KristinaRiemer Hi.  Can you or I remove the pseudo-code section from this lesson.  The teaching/ lesson-y part of it after looks great.

[2015-11-13 00:06] lwasser opened #25 "Add a few VERY TALL (40000m) pixels in the DEM as an example of bad data values"

[2015-11-13 00:09] mjones01 commented on #25
I like the idea.  Does this mean adding a section to remove bad data values?
Acknowledge issue in min/max section and then deal with it in bad data section?

[2015-11-13 00:11] mjones01 opened #26 "Explaining slots?"
Do we want to/ need to explain slots in this module (or other module)?
Peripherally used in Lesson 00.  Used elsewhere?

[2015-11-16 22:29] mjones01 opened #28 "Lesson04 Challenge: Methods for Calling on an Object"
This is a good challenge but a bit out of place in this lesson.  Consider moving it.
@lwasser suggested into the introductory data management section

[2015-11-16 23:20] mjones01 opened #29 "Explanation of Stretch Lesson 04"
Currently this is introduced in Lesson 04 (https://github.com/data-lessons/NEON-R-Spatial-Raster/blob/gh-pages/04-Multi-Band-Raster.Rmd)  lines 299-326 but is poorly address and potentially unnecessary.

1) Does it need to be explained?  or can we remove it from the code?
2) How best to teach / explain the concept?
3) Is a graphic needed? eg. http://www.nrcan.gc.ca/earth-sciences/geomatics/satelli

[2015-11-17 17:18] lwasser opened #30 "Add Overview of CRS in L00"
Left a comment in this lesson to include a discussion of CRS - this would be content in the INTRO TO SPATIAL Data part of the workshop if that is developed. So we should revisit where this will live. But regardless it needs to be created. We can largely link out to existing content as this topic is well covered in the GIS world. Does anyone have time to work on this little chunk of explanation?

h

[2015-11-17 18:06] mjones01 commented on #21
@lwasser I just remembered that we already have a Writing Function #WorkWithData lesson.
http://neondataskills.org/Using-R/Working-With-Functions/

Can we link to or steal highlight and then link to that lesson?

[2015-11-17 18:10] lwasser commented on #21
OH yea - that was borrowed from software carpentry. It needs a bit of love but we can revise it and totally use it!
Good call!

Leah
--
Leah A. Wasser, Ph.D.
Supervising Scientist
Education / Data Products
National Ecological Observatory Network (NEON)
Boulder, Colorado
--------------------
For free tutorials and resources on working with spatio-temporal data:
http://www.neondataskills.org<http://

[2015-11-17 20:04] lwasser opened #31 "Add a bit of code to make histograms prettier - L01 - plotting rasters in R"
A few folks have edited L01 - plotting rasters in R. Given histograms are also included there, let's add a few lines of code to show users how to make prettier histograms as well. We can add color, customize labels, etc. It's a simple addition!

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Plot-Rasters-In-R/

[2015-11-18 22:36] lwasser opened #32 "Reprojection and modifying rasters - Lesson 02 ~lines 198"
Per @mjones01 a comment (i think this is your comment?)

#### LESSON NEED TO ADD: Why do min/ max values change.  CRS shouldn't effect elevation? Is this due to changing # of cells and then having to re-sample cells? We lose just a bit of the extremes.

The bottom line is that anytime you reproject, or do calculations on a raster you are modifying it. In the case of projection you are moving it fr

[2015-11-18 22:43] lwasser opened #33 "Lesson 02 - Need a challenge or two in this lesson for reprojection - ideas welcome."

[2015-11-18 22:49] mjones01 commented on #32
It was my comment and that is what I assumed it to be.  Probably don't need to address it.  Hopefully others as curious about the change as I am will also figure it out.  And the others won't even miss a thing!

[2015-11-18 23:41] lwasser commented on #32
Ok perfect. There are SO MANY things we aren't covering - know that it will be impossible to teach everything. We could spend two days on CRS'! I am going to close this if you are ok with it. i'm somewhat content with L02 and 3 at this point! thank you for the feedback!

[2015-11-18 23:41] #32 closed

[2015-11-19 22:39] lwasser commented on #23
Ok - i removed this from the lesson! closing the issue

[2015-11-19 22:39] #23 closed

[2015-11-19 22:42] lwasser opened #34 "Lesson 05 - section on metadata"
The landsat data downloaded have very long file names. The file name itself actually contains metadata including the Julian day collected, year etc. And you can parse it via the metadata. For this lesson, I actually created shorter file names for simplicity sake. However, should i use the original complex file names to allow users to explore the metadata as an activity?

[2015-11-23 20:49] lwasser opened #35 "What is NDVI video"
we might use this in our background content.

https://www.youtube.com/watch?v=rxOMhQwApMc

[2015-12-10 20:13] mjones01 opened #36 "Add SJER Hillshades to Figshare data files"
L01 challenge (chunk {r challenge-hillshade-layering, echo=FALSE}) requires a SJER hillshade for DSM & DTM.  Neither are in the current data available on FigShare.

[2015-12-10 20:29] mjones01 commented on #30
As of 10 December 2015 this has been added to the lesson ( lines 234-277; not sure of the PR that added it).  Or are you @lwasser  looking for more of an explanation?

[2015-12-10 21:24] mjones01 commented on #36
Also SJER_DSMhill_WGS84.tif  (Lesson 02 challenge)

[2015-12-10 22:43] lwasser commented on #30
added commits: https://github.com/data-lessons/NEON-R-Spatial-Raster/commit/0983f82665b9de78caaaed830638a017af3cb726
https://github.com/data-lessons/NEON-R-Spatial-Raster/commit/a021f5b47a783ce2a52b17e84ccdb10f249405fa

I think we could do more but for now i will close this as the content is there and sufficient for us to move forward.

[2015-12-10 22:43] #30 closed

[2015-12-10 22:45] lwasser commented on #22
Sounds good. We can do a quick "fix all" in a text editor. Are you working on these lessons now or just looking through lessons.

[2015-12-10 22:47] #33 closed

[2015-12-10 23:09] mjones01 commented on #22
This has been fixed in all lessons.  (I'm working through the lessons.  The NDVI file exported from Lesson 07 which is used in the Time Series Lessons  06 is a bit weird, so I'm going through the lessons editing and working towards creating a new NDVI file).

[2015-12-10 23:21] lwasser commented on #22
Perfect. Thanks for the catch.

What is weird about the NDVI file?
I'm working on the flood lessons now.

[2015-12-10 23:23] lwasser commented on #2
This has been added in lesson 04
http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Multi-Band-Rasters-In-R/

https://github.com/data-lessons/NEON-R-Spatial-Raster/blob/gh-pages/04-Multi-Band-Raster.Rmd

Closing issue!

[2015-12-10 23:23] #2 closed

[2015-12-12 01:30] mjones01 opened #38 "UTM Zone 18 / 19"
All the NEON derived data (Lessons 00-04) have UTM Zone 18 in the geotags.  The Landsat derived data (Lessons 05-07) have UTM Zone 19.  Why the difference?  MA is divided by the two.  We at least need to make a note in the lessons about why the two different ones and why it does/ does not create a problem.

[2015-12-12 01:32] mjones01 opened #39 "Challenge: Examine RGB Raster Files code updated needed"
The code for the this challenge uses something that hasn't been taught in the lesson.  I tried to recreate the challenge code using what was taught in that and the previous lessons and was unable to.  I think, even if we give a more efficient way, the challenge code should be something do able based on what we are teachings with (maybe) some minor Googling.

http://data-lessons.github.io/NEON-R-Sp

[2015-12-12 01:33] mjones01 commented on #34
The only thing that really is a mystery is when it says "the metadata said the data had a ScaleFactor of 10,000" (lesson 07).  Was this only in the file name or somewhere in the geotags/ slots?  I couldn't find it.

[2015-12-16 21:39] mjones01 commented on #38
@lwasser  Thoughts?

[2015-12-16 21:40] mjones01 commented on #36
Complete with the transfer to neondataskills Fig Share account.

[2015-12-16 21:40] #36 closed

[2015-12-16 22:28] lwasser commented on #38
Yup - same issue in Harvard and SJER. So landsat scenes are BIG and they cover diff UTM zones. WHereas NEON data cover a small enough area that is contained within 1 UTM zone. Thus there is a slight different in zones between the datasets and YES this means re-projection may be required to use them together. This is a real world issue that happens a lot.

What we could do is create a nice little m

[2015-12-17 18:49] mjones01 commented on #38
Useful info for graphic:
Landsat Thematic Mapper: Approximate scene size is 170 km north-south by 183 km east-west (106 mi by 114 mi)

[2015-12-17 18:56] lwasser opened #41 "Related Lessons at Bottom of page"
I have code that will allow us to automatically list related lessons. Right now it's at the bottom of the page rather than the top. What is better?

I'm trying to shorten up the top grey block as it's long and for SEO it's ideal if we have unique content up towards the top. that list is useful but it could go at the bottom potentially with ONE link at the top to a "module" page that describes the

[2015-12-17 19:02] mjones01 commented on #41
I like bottom (if not top and bottom).  As I was going through the lessons it was really nice to get to the bottom and then just click to the next lesson (after the R code button).  Having a link to the module page with the rest of the lessons works.

The font for Challenge code & Working Directory headers is now different than the others.  Why?  Maybe switch around download data too? It has a nic

[2015-12-17 19:08] lwasser commented on #41
I'm experimenting. I know i should be in the template repo but i  wanted to see if visually we can condense information. I don't want to work across 2 repos on one monitor in a hotel. Danger zone! I like it better so i'm glad you like it better as well!

Cool - bottom it is with a BRIEF link in the top box. The bottom list is automated which is preferred over manual lists.

[2015-12-17 19:15] mjones01 commented on #41
Whooohooo!  Automated is great.  No issue experimenting here as long a we get the changes into the template repo.

[2015-12-17 19:20] lwasser commented on #41
Yup! that is what i figure. I started moving things over yesterday  to a lesson template page.
i like to see it for a while before i decide upon liking the look :)

Yay for automation!! that code is in the time series code as well. that is what the maintag in the YAML does. that is the tag that it uses to find other content that is "Related". I remember why i added that now!

[2015-12-31 01:10] mjones01 opened #43 "L05: histogram data not appear in posted lessons"
The histograms look fine when run in R but no data shows up when the lesson posts.  Ideas?

[2015-12-31 02:01] lwasser commented on #43
Yes. I see a few issues! I added the scale factor to the lesson and didn't double check the output after. Because the data are scaled, we need to

1. Add a zlim to the second raster plot so the legend is uniform . It needs to range from 0 to 1.

2. The histosram zlim is also zlim 0 to 10000. It should be 0 to 1.

That should fix things! :)

[2015-12-31 02:01] lwasser commented on #43
Good catch!!

[2015-12-31 03:58] lwasser commented on #43
fixed now! check it out and if it's ok i'll close this.
commit:  202975661bba8d8ec82d998e611bdf756d060771

[2016-01-04 22:00] mjones01 opened #44 "Shadow on Challenge boxes"
When a challenge has an output of a figure (and most do), the figure causes the shadow element to get broken on the bottom.  This leaves a little bit of shadow on the bottom left and a weird angular shadow on the right side.

@lwasser We could remove shadow element (data tip boxes are flat) or figure out how to insert a space.

[2016-01-04 22:12] mjones01 commented on #44
(moved to template repo)

[2016-01-04 22:12] #44 closed

[2016-01-06 18:03] mjones01 commented on #11
They are, and all lessons are set up to also have the necessary files/ object added at the start of the lessons if the files aren't already loaded.

[2016-01-06 18:05] #11 closed

[2016-01-06 20:19] mjones01 commented on #38
@coolinwilliams and another graphic!  :)

We want to explain why our location and most of our data is in the UTM zone 18N but the Landsat data is listed as UTM Zone 19N.  Basically this is because the "view" of the satellite is wide enough to span a the UTM zones and our site is close enough to the boarder of 18/19 that it is captured by the Landsat view that is primarily in 19N.

My idea is a aer

[2016-01-06 20:20] mjones01 commented on #41
This is complete in with the new template PR ?

[2016-01-06 20:20] #41 closed

[2016-01-06 20:49] lwasser commented on #38
@mjones01 will you kindly create a google doc for these graphics? We have 3 now going

1. points line polygons
2. spatial extent
3. this graphic which actually related to spatial extent!

If you create this document, Colin can then post images and we can iterate that way? I should have done this earlier. Thank you!

It is a great idea to create this graphic! thank you.

I think the graphic can be

[2016-01-06 22:01] mjones01 commented on #38
Ack sorry I didn't know you were creating one.  Now we have two.  I'll make sure the two have the same content.

[2016-01-06 22:02] mjones01 commented on #38
Oh wait, the other graphic page is from November... Your thoughts.  Leave it alone or combine?

[2016-01-06 22:35] mjones01 commented on #38
I've addressed this by simply providing the link to the November document in the current document and adding a date to the title of both documents.

[2016-01-07 23:59] mjones01 opened #51 "L07: RasterStack Plotting"
@lwasser originally noted:
  # 254_SJER_landRGB.tif - the range on the blue band for this layer is 255-255
  #R cant render that as a stretch function. Not sure how to properly fix this
  #via code, for the meantime writing a manual exception

CODE: 433-444  or http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Extract-NDVI-From-Rasters-In-R/

#Super efficient code
for (aFile in rgb.allCropped.

[2016-01-08 00:25] mjones01 opened #52 "TOC/Overview Sidebar not showing up on rendered lessons"
@lwasser  which updated file needs to be adding to the repo so that the overview/TOC will appear in the sidebar.  Currently the header shows up but nothing populates.

[2016-01-08 00:32] mjones01 opened #53 "L04: Stretch Graphics"
@lwasser I think we should make the two stretch graphics a bit more inline with the others Colin's created in the last few days.
- put NEON logo inside box
- Increase background box size to include all image/ text.

However, you two were the ones who initially created these so I wanted to run it by you before asking Colin.

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Multi-Band-Rasters-I

[2016-01-08 00:34] #43 closed

[2016-01-08 00:41] lwasser commented on #52
What lesson(s)? 00 looks ok.

[2016-01-08 00:44] lwasser commented on #53
So u r trying to minimize white space below the image so the caption isn't so far away? I agree. The logo can go in the blue box.

Add this to the Google Doc we've been working on for images. Great call!

[2016-01-08 00:44] mjones01 commented on #52
I haven't completed the rebuild yet... I kept finding errors.  I'll let you know when I do.

[2016-01-08 01:15] mjones01 commented on #52
@lwasser Okay they are all built and posted! I believe the issue is that the Overview is currently set to just level 1 headers and we need level 2 (& 3?) to show up.

[2016-01-11 17:14] mjones01 commented on #38
Image (UTM_zones.jpg) added to folder with PR# https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/55 .  Need to add in the discussion to lesson.

[2016-01-22 00:26] lwasser opened #56 "Add extent graphic to lessons"
Colin created a great extent graphic. where should it go?
@mjones01 you had originally suggested this graphic - where did you intend to place it?

[2016-01-22 00:37] lwasser commented on #39
The title of this issue does not make sense nor does the explanation.
Please explain what skill specifically hasn't been taught that is asked of the participant using the lesson?
They should know how to plot an RGB image which is all that they need to do. So perhaps rewording is in order? or i am missing something.
With that information we can fix the issue!

[2016-01-22 23:24] #22 closed

[2016-02-05 18:17] mjones01 opened #57 "Move CropNDVIFiles.Rmd code to Lesson Dev. Repo"
The file CropNDVIFiles.Rmd code is currently in the knitr_processing_code folder.  Should this be moved to Lesson Development Repo?  Maybe create a new folder called NEON_external-data-processing-code that can be a repo for all the code created to extract/clean the data for the lessons.  Some might be developed into lessons.  Might be very useful if OS/IS might be using the code (or referring to i

[2016-02-05 18:31] mjones01 opened #58 "Update the **Raster Lesson Series:** section in grey box"
Once we've figured out landing pages and what their URLs will be this section needs to be updated (same is true for all the NEON-dc lessons).

[2016-02-05 19:23] mjones01 commented on #35
I think this is now most appropriate in the Spatio-Temporal-Intro lessons (L00 in particular). Moved this Issue's content to https://github.com/data-lessons/NEON-R-Spatio-Temporal-Data-and-Management-Intro/issues/12

This issue can be closed.

[2016-02-05 19:43] mjones01 commented on #58
Might be best if this turns into an include file (1 for each NEON-DC repo).

[2016-02-05 20:52] mjones01 opened #59 "Lesson Names/Numbering"
Currently Lessons 00, 01, 03-07 are titled "Raster 00:Title"  while Lesson 02 ( and all lessons in the other NEON-DC repos) are "Lesson 00: Title".

Is there Lesson 00 important to the Data Carpentry format?

If not, perhaps switching to "Raster 00:", "Vector 00:" , "Time Series 00:", and "Spatial Intro:" would be most appropriate as we are now at the point where Time Series lessons refer to Vecto

[2016-02-05 21:05] lwasser commented on #59
Agreed. I don't like "lesson".

So
Raster 00
Vector 00
TimeSeries 00
SpatialIntro 00

[2016-02-05 21:10] mjones01 commented on #59
Is there a specific reason that the separate words need to be smooshed into 1?  If it was code or file name yes, but currently only text is in URL, and in knitter file names are DATE-RS or DATE-L appended to the number.

Raster 00:
Vector 00:
Time Series 00:
Spatial Intro 00:

[2016-02-05 21:12] lwasser commented on #59
I'm not sure what the second half of the comment above means but I like your list below! let's use it!

Raster 00:
Vector 00:
Time Series 00:
Spatial Intro 00:

[2016-02-05 22:52] lwasser opened #61 "Jekyll 3.0 fixed"
@mjones01 this is very weird. I just accepted you PR but it said "0" files changed. I saw your commits and see the changes but the files don't have the fixes. Now the headers don't work in this repo so this confirms we need to fix this.

[2016-02-05 22:54] lwasser commented on #61
closing this - i jumped the gun on the PR.

[2016-02-05 22:54] #61 closed

[2016-02-05 23:58] mjones01 commented on #53
Will change with PR https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/62

[2016-02-05 23:58] #53 closed

[2016-02-05 23:58] mjones01 commented on #59
Will change with https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/62
Added to Task List for all other lessons.

[2016-02-05 23:58] #59 closed

[2016-02-06 00:02] mjones01 commented on #52
Still a problem when I'm building locally.  Only Goals/Objectives showing up.  I believe this is an issue with the template dictating that only having level 1 header will appear in the TOC.  This issue will be fixed when lessons move over to Data-Skills.  Not sure if it is worth updating in this repo.  @lwasser if not worth changing, let's close this comment.

[2016-02-06 00:04] lwasser commented on #52
if you want to adjust in the _config.yml
[code]

Change to toc_levels to "2"

[code]

[2016-02-06 00:04] lwasser commented on #52
i can do it now if you'd like directly in the gui. but up to you.

[2016-02-06 00:08] mjones01 commented on #52
Thanks. Done.   I'm comfortable working in the config and other files if I know what to do... I'm just still not sure where everything is!

[2016-02-06 00:08] mjones01 commented on #52
Issue will be fixed in
https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/62

[2016-02-06 00:09] mjones01 commented on #52
Fixed in local build.  Closing Issue.

[2016-02-06 00:09] #52 closed

[2016-02-06 00:10] lwasser commented on #52
Sure. That file will change given the jekyll 3.0 migration. I'm working on that in the template repo and will let you know when it's done. Phew. :) glad it's fixed!

[2016-02-06 00:47] mjones01 opened #63 "L07: Incorrect Info? Zero-based Indexing"
I don't think the text is giving the correct reasoning for why we do what we are doing.  I'm pretty sure I wrote that original code but not the indexing part in code or text.   The origin day is 01 January 2011 so the extracted day is 01.  The Julian day for this is also 01.  If we need to cover Julian day 05 (which is the 5th of January), we cant add origin+Julian day because 1+5 is 6 or January

[2016-02-06 00:52] mjones01 commented on #63
Our Julian day is simply an integer and is being used to count from an origin.  Some packages (`time`) have a Julian Day class that IS zero-based.

[2016-02-08 18:44] mjones01 commented on #56
Added to L00.  Will be updated with PR #62 .  Issue can be closed.

[2016-02-08 19:06] mjones01 commented on #38
Image & text added ~line 216.  Updated in PR #62.  Closing comment.

[2016-02-08 19:06] #38 closed

[2016-02-09 00:32] lwasser commented on #63
ok gotcha. this is wrong.@mjones are you working in raster now? If so, will you please fix.  Add to your PR also all of the headers in raster need to be fixed. Do you mind tackling this tomorrow given you already have a PR out? If it's already done, IGNORE the headers :) and just fix the explanation in the text. my mistake!

[2016-02-09 00:33] lwasser commented on #58
I've implemented the code that we talked about today. It will automatically list related series on the left hand bar and if you mouseover the description will pop up. See what you think on the dev site.

[2016-02-09 00:34] lwasser commented on #57
yes. please move to the lesson dev repo and place in a folder called "hackathon build files" or something that we will know it's hackathon related code. it's all useful code!! :) Thank you.

[2016-02-09 00:35] lwasser commented on #56
yay!

[2016-02-09 00:35] #56 closed

[2016-02-09 00:35] mjones01 commented on #63
I will fix the text Tueday AM.  Headers are done.

[2016-02-09 00:36] lwasser commented on #39
@mjones01 will you please clarify this issue? i will try to look at it tomorrow if you can explain to me what is confusing. I won't do anything to the code until your PR is resolved but I can atleast understand what the fix should be.

[2016-02-09 00:37] lwasser commented on #31
This was addressed!

[2016-02-09 00:37] #31 closed

[2016-02-09 00:38] lwasser commented on #29
@mjones01 will you please revisit this as well. We did create a stretch graphic but I'm also happy to look at this.

[2016-02-09 00:39] lwasser commented on #26
Yes -- the repo that Ben just sent out had a list of relevant slots for vectors. it would be cool to do that for rasters and vectors as just a bonus section. What do you think?

[2016-02-09 00:46] lwasser commented on #63
Ok - I'll wait on the PR until that it done!

[2016-02-09 22:08] mjones01 commented on #63
PR https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/62

[2016-02-09 22:08] mjones01 commented on #58
PR https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/62

[2016-02-09 22:14] mjones01 commented on #57
Removed here:  PR https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/62
Added to lesson development: PR https://github.com/NEONInc/NEON-DataSkills-Lesson-Development/pull/9

[2016-02-09 22:14] #57 closed

[2016-02-09 22:14] #58 closed

[2016-02-09 22:14] #63 closed

[2016-02-09 23:18] mjones01 commented on #39
The code used to answer the challenge is below:
#Super efficient code
for (aFile in RGB_HARV_allCropped){
  NDVI.rastStack <- stack(aFile)
  plotRGB(NDVI.rastStack, stretch="lin")
}

Thinking that the challenge should be able to be completed with what was taught in the lesson, I tried to answer it using what was taught in the lesson:

#code parrallel to what was previously taught in lesson
#RGB_ND

[2016-02-09 23:36] mjones01 commented on #29
A graphic has been added and the explanation looks sufficient.  Closing the issue.

[2016-02-09 23:36] #29 closed

[2016-02-12 00:33] lwasser commented on #17
closing this issue!

[2016-02-12 00:33] #17 closed

[2016-02-12 00:35] lwasser commented on #6
reproject is now covered here

http://data-lessons.github.io/NEON-R-Spatial-Raster//R/Reproject-Raster-In-R

no data values are discused here:
http://data-lessons.github.io/NEON-R-Spatial-Raster//R/Introduction-to-Raster-Data-In-R

[2016-02-12 00:35] #6 closed

[2016-02-17 16:06] lwasser opened #69 "space after comments in R code"
@mjones01 a note as we work on lessons in the future

@brymz noted:
We should add a space after # in comment lines of code as per http://adv-r.had.co.nz/Style.html.

I think this is a good idea to implement throughout. It's also a very easy quick update.
i'll implement this in the intro lessons which I will work on today. Zach is taking care of raster.
I can also do vector if you want to do time s

[2016-02-17 16:10] lwasser opened #70 "make sure related content populates properly throughout raster lessons"
it looks like the mainTag is set to raster-data rather than raster-data-series (or whatever the YAML list contains for this series!). I will fix this once i've merged zach's edits.

[2016-02-25 20:46] lwasser opened #72 "functions in the code"
@mjones01 a while back we had a brief discussion where you use fun() and i was using fun in our code. let's move to what you were doing per @brymz latest PR . copying his comment below.
He also suggests creating a style guide (we are working on this but should provide it to people!) and a contributing guidelines .md file

***
Oops. 80 characters, absolutely. I keep my text editor at 80 characters

[2016-02-25 20:50] lwasser opened #73 "L01 - review for content per feedback from Zack - Layering order"
Per @brymz

---

The rainbows color palette pops up oddly. I like the idea of demonstrating how color palettes differ, but I'd like to see a progression of plot map -> plot hill shade -> overlay map on hillshade, so that you can scroll back and see how they all fit together. Also, I wonder why it is not the hillshade that is overlayed on the map.
CLARIFICATION:

---

The progression I would like t

[2016-02-25 20:52] lwasser opened #74 "Related Content in Raster Lessons"
From @brymz

***
What is going on with the 'Related Content: raster-data' at the bottom of the page? It doesn't seem to be in the .Rmd. It just animates (shrinks) when I click on it.
***

I think the tag used for the lessons (and main tag) is likely wrong or spelled wrong.
@mjones01 when you review these lessons, can you have a look to see if we are using the right mainTag for the raster lessons?

[2016-02-25 21:06] lwasser opened #75 "L03 - .data tip breakout - double check formatting."
check how L03 renders - the .notice tag in the data tip below includes a function chunk however - i'm not sure this will render properly in kramdown as the {} tag is on a paragraph and doesn't support multiple paragraphs. Let's make sure this works before pushing to dev.

<i class="fa fa-star"></i> **Data Tip:** A custom function consists of a defined
 -tasks performed on a input object. Functions

[2016-02-25 21:14] brymz commented on #75
I modified the existing generic custom function for conceptual clarity and good style. I've never written a function with a `,` to separate actions, but maybe that is an alternate form I haven't seen before. Another compromise might to just remove the example and include a link to one of the NEON or Software Carpentry lessons (e.g., http://swcarpentry.github.io/r-novice-inflammation/02-func-R.html

[2016-02-25 21:16] lwasser commented on #75
Thanks @brymz it's great! I just wasn't sure how the syntax would render in the tag where you placed the code!  built it locally and it worked just fine! Thank you :) I'll respond to your email as well! i just got back from travel so i'm a bit behind!  :)

[2016-02-25 21:16] #75 closed

[2016-02-25 21:19] lwasser commented on #74
Update! i just rebuild the lessons and i *think* it is working now. It may have been outdated template items (e.g. supporting yaml files). :) @mjones01 this repo is up to date now with all PR's

[2016-02-25 21:32] #74 closed

[2016-02-29 20:56] lwasser opened #77 "Quick Review of Raster Build"
Hi @mjones01 - all edits are merged! Please have a look at the rendered lessons and let me know if you see any issues. I have fixed the baseurl (removed the slash). Let's see if anything breaks. Things that could break include images! If you are happy with it as built, feel free to close this issue or assign it back to me to close :)

[2016-02-29 23:17] lwasser commented on #39
@mjones01 is this the issue that you were talking about. I figured out the issue and fixed it (the blue plotting issue) although the fix is a hack.  I am not sure however if this addresses the comment above or not. Please let me know.

[2016-02-29 23:17] lwasser commented on #39
my proposal for this challenge is not to have them plot images using a function. we can just have them plot a few images to look at them.

[2016-02-29 23:18] lwasser commented on #70
This has been fixed.

[2016-02-29 23:18] #70 closed

[2016-02-29 23:18] lwasser commented on #69
@mjones01 this is being covered with your edits, correct? if so, i'll let you close it once the PR is submitted!

[2016-02-29 23:19] lwasser commented on #51
Oh maybe this is the issue? This is fixed. @mjones01 i have the fix but you are working on a rebuild. Should i push the RMD for you to integrate in your rebuild.
The fix is a hack but it works for the time being.
Leah

[2016-02-29 23:22] mjones01 commented on #39
This is a different one I was specifically thinking about the SJER plots here (http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Extract-NDVI-From-Rasters-In-R/#remove-outlier-data).

However, I do remember this one.  I think the challenge is fine:

1. Load the imagery located in the RGB directory.
2. Plot the RGB images & identify the plots for the Julian days 277 and 293.
3. Does the RGB ima

[2016-02-29 23:24] mjones01 commented on #69
yep.  Should now (as soon as pending PRs are merged) in all vector, raster, time-series repos.  We will build it into all future tutorials.  Can be closed.

[2016-02-29 23:26] mjones01 commented on #51
I just created a PR https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/78.  I'd merge and then add the new code.

[2016-02-29 23:26] mjones01 commented on #51
Then this issue can be closed?

[2016-02-29 23:27] mjones01 commented on #77
Okay.  I've updated, rebuilt and created a new PR https://github.com/data-lessons/NEON-R-Spatial-Raster/pull/78

[2016-02-29 23:27] lwasser commented on #39
Ok - I'll need you to show me this in person. I am not sure what to fix. I don't see a function in the challenges!

The images render fine. Stop by if you have a few?

[2016-02-29 23:41] mjones01 commented on #72
Added to Example Post with the next PR merge (https://github.com/NEONInc/NEON-Template-Data-Skills/pull/31).

Should add link to example post in each of the repo ReadMes.

[2016-03-01 00:03] lwasser opened #79 "Look at L05 and 07"
i rebuild but i think the output from the challenge needs to be cleaned up - potentially placed in a separate chunk just as an example. will revisit tomorrow.

[2016-03-01 00:53] #69 closed

[2016-03-01 00:56] lwasser commented on #51
This is fixed now commit 45bc3ce

[2016-03-01 00:56] #51 closed

[2016-03-01 00:57] lwasser commented on #28
@mjones01 do you remember what this issue is about? I can address it tomorrow potentially if I understand

[2016-03-01 00:58] #35 closed

[2016-03-01 01:00] #20 closed

[2016-03-01 01:01] lwasser commented on #7
@mjones01 I think we've covered this in vector right??just confirming.  I think we can close this issue potentially

[2016-03-01 02:04] lwasser commented on #7
ok off my phone and online now -- we cover this in

http://data-lessons.github.io/NEON-R-Spatial-Vector/R/crop-extract-raster-data-R/

i'm going to close this issue :) yay!

[2016-03-01 02:04] #7 closed

[2016-03-01 02:10] lwasser commented on #39
this has been fixed - d88fdeee2500df7e00f83ac0a00f66c9b1544548

[2016-03-01 02:10] #39 closed

[2016-03-01 02:12] lwasser commented on #12
write csv --

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Extract-NDVI-From-Rasters-In-R/

export geotiff

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Raster-Calculations-In-R

done!

[2016-03-01 02:12] #12 closed

[2016-03-01 02:12] lwasser commented on #13
this has been completed!

http://data-lessons.github.io/NEON-R-Spatial-Raster/R/Reproject-Raster-In-R

closing.

[2016-03-01 02:12] #13 closed

[2016-03-01 02:13] lwasser commented on #72
Cool - have we documented this now sufficiently so we can close this issue?

[2016-03-01 02:13] lwasser commented on #79
L05 is good - need to check on l07

[2016-03-01 02:14] #79 closed

[2016-03-01 02:15] lwasser commented on #77
great - i'm closing this -- i've made changes as we discussed. tomorrow i'll move to dev for review there. Will do the same with time series.

[2016-03-01 02:15] #77 closed

[2016-03-01 15:24] mjones01 commented on #72
Yep.  Close it (I don't have the ability in this repo).

[2016-03-01 16:53] mjones01 commented on #28
I just went through the lesson and while the challenge isn't exactly a follow-up of what was in the lesson, it is relevant.  I'd wait until you've taught the lesson to make any changes. Then decide if it does not work to reinforce skills.
Depending on the intro series lesson content, this challenge might fit somewhere there. I'll keep my eye out as I review this week.

For now: I'd keep issue open

[2016-03-01 17:58] lwasser commented on #28
ok great - thank you! let's keep it open.

[2016-03-01 18:35] #72 closed

[2016-03-16 06:22] lwasser opened #82 "Add data structure graphics to lessons"
Participants requested (and it would be helpful for teaching) diagrams on R data structures. Particularly for heterog. ones like spatial objects with nested components stored in slots (eg data.frames in .@data slot, etc. Looking for some for today's teaching now.

[2016-03-18 23:56] jsta opened #83 "Scale factor"
This lessons says that the 10000 scale factor is defined in the metadata. Some learners might find it unclear whether this refers to the output of an _rstats_ command like `crs` or whether it is contained in technical documentation. There is no mention of a scale factor in the `README.GTF` file.

[2016-03-19 00:01] jsta commented on #83
already mentioned in #34

[2016-03-19 00:02] #83 closed

[2016-03-28 17:05] lwasser opened #84 "MERGING Raster and Vector Lessons & Move to NEON #workwithdata Org"
Hi @jsta @brymz ! A quick update on these lessons. @tracykteal  and I discussed it and we are going to MERGE raster and vector together. I taught them recently and it just makes sense. we need to cover raster data basics before talking about cropping and extracting raster values (lessons currently in "vector").

We also will move the new merged set of lessons to our organization where we can give

[2016-03-28 17:08] brymz commented on #84
Cool! This also makes sense given what we were hoping to accomplish with the DC Semester Biology lesson. I'll get back to this again mid-late April. Let me know how I can help.

[2016-03-28 17:11] lwasser commented on #84
Sounds great, Zack. Thank you for the feedback. Do you  have any interest in / time to  help maintain these as well? it's completely up to you - no pressure. The reviews and edits that you have provided have been very helpful!
--
Leah A. Wasser, Ph.D.
Supervising Scientist
Education / Data Products
National Ecological Observatory Network (NEON)
Boulder, Colorado
--------------------
For free tutor

[2016-03-28 17:13] brymz commented on #84
Can I get back to you about that after my defense?

[2016-03-28 17:15] lwasser commented on #84
Absolutely. No pressure. We can add you at any time! Or you can chose that it's too much and say no too. I understand!

[2016-03-28 23:35] jsta commented on #84
Yes, I am interested in participating in the development and maintenance of the combined raster/vector lesson.

[2016-03-28 23:40] lwasser commented on #84
wonderful! Thank you @jsta . The next step is to migrate the lessons over to the new organization and combine into one repository. I will be in touch when this happens! I will add you as a lesson maintainer and will let @tracykteal and @gvwilson know that you will be a lesson maintainer for this content!

I am excited to continue to work with you on this and happy to have your expertise on board!

[2016-04-06 16:23] mjones01 opened #85 "R02: Code crashing R?"
From N. Robinson: Just a heads up – in Raster lesson02, the following lines (19 - 24) crash my R session every time.  Not sure if you guys experience this, but it could cause issues in the workshop if your computers are having difficulty too…
# overlay the DTM on top of the hillshade

plot(DTM_HARV,
     col=terrain.colors(10),
     alpha=0.4,
     add=TRUE,
     legend=FALSE)

[2016-11-28 14:23] lwasser opened #86 "issue in lesson one - units"
Currently there is a comment about the raster image that asks the user whether the units are in meters or feet using the CRS. this is a trick question because the units are not actually indicated (nor would they be) in the crs in this instance. Need to fix this!

http://neondataskills.org/R/Introduction-to-Raster-Data-In-R/#comment-3024003521

[2016-11-29 15:56] mjones01 commented on #86
There are several sections of this lesson that need to be updated/changed to reflect this.

* End of 2nd paragraph in [Types of Data Stored](http://neondataskills.org/R/Introduction-to-Raster-Data-In-R/#types-of-data-stored-in-raster-format)... section
* Question after first plot in the [Open a Raster in R](http://neondataskills.org/R/Introduction-to-Raster-Data-In-R/#open-a-raster-in-r) section
*

[2016-11-29 16:16] lwasser commented on #86
Does NEON have metadata for the geotiffs (not in the tif tags but an actual file)? If they do, it will resolve it all.

Otherwise, we will need to state it is in meters – I can write a paragraph about how units are often standard for Elevation Models (ie meters horizontal and vertical) but not always (ie state plane feet with vert in meters, etc). This was the issue when we started the lessons – n

[2016-11-29 16:21] mjones01 commented on #86
I have an email out asking this right now.  I'll update this thread when I get an answer. I think a paragraph specifically stating at the horizontal units (CRS) don't translate to vertical units (raster values) would be a good addition to the tutorial either way.

[2016-12-01 14:32] lwasser opened #87 "Typos and errors found by michael"
- [ ] reproject raster ...text: fix errors - see: http://neondataskills.org/R/Reproject-Raster-In-R/#comment-3029119045
- [ ] Add Michael H. as a contributor to the raster lessons!

[2016-12-02 16:08] jduckles opened #88 "Add License to Repo"
This repo needs a license file. @lwasser

[2016-12-02 18:08] lwasser commented on #88
hey @jduckles sure. i plan to merge raster and vector. how does licensing work? also including @jsta  on this as he's been involved in these lessons too!

[2016-12-02 18:11] jsta commented on #88
See https://github.com/datacarpentry/R-ecology-lesson/blob/gh-pages/LICENSE.md

[2016-12-02 18:15] lwasser commented on #88
oh ok. @jduckles is this the file you'd like to see?

@jsta it's been on my list for a while to merge raster and vector into one. I wonder if this is a good time for it.

The issue is there are several lessons that use both raster and vector data that i think should come after both intros are taught. then we could have one license for all lessons. I've also been rebuilding the intro lessons. I thi

[2016-12-02 18:42] jduckles commented on #88
@lwasser that's the file. It just makes sure if people fork they are beholden to the license under which the lessons were created.

[2016-12-02 18:44] lwasser commented on #88
Cool - ok i've adjusted the issue title to make it an action! i think @jsta  and I can add these. i do plan to merge both repos as well - but haven't had time! thanks @jduckles

[2016-12-02 19:03] jduckles commented on #88
No prob, was just on LICENSE patrol and noticed these didn't have any.

[2016-12-02 19:07] lwasser commented on #88
License patrol! Do you have a badge for that?!

[2016-12-02 20:36] jduckles commented on #88
![](https://media.giphy.com/media/13OobIztiAaUnu/giphy.gif)

[2016-12-27 23:07] lwasser opened #90 "VECTOR LESSONS: Address Overlap / Remove redundancy in L00-02 -- plotting and legends. Add geoprocessing."
_From @lwasser on March 14, 2016 21:25_

There is a good bit of overlap in l00-02. The focus on plotting and legends is significant. This is good additional information to know, however it may be more practically useful if more geoprocessing is introduced earlier on in the series. The content is more focused on "how to" and less focused on actual data literacy concepts associated with vector data

[2016-12-27 23:07] lwasser commented on #90
idea -- dissolve the states by region. An intersection activity would be good too but it would be more useful if we had some sort of landcover area in polygon format?

[2016-12-27 23:12] lwasser commented on #88
DONE! 2b30db21dc7b10d4e06067cf15464546eceabf1d

[2016-12-27 23:12] #88 closed

[2016-12-27 23:14] lwasser opened #91 "raster lesson 05 - data missing for plot"
_From @natalie-robinson on April 6, 2016 19:10_

When folks download the script for the lesson, there is a section for plotting mean daily air temp at HARV, from a csv. That csv is not part of the data download for the lesson, so users cannot get the data as of now.

_Copied from original issue: datacarpentry/NEON-R-Spatial-Vector#98_

[2016-12-27 23:14] lwasser commented on #91
Oh -- right. you mean a graphic on the lesson but something we don't teach, right? Another great catch!

I bet that is confusing huh! i never thought about that. you know throughout our lessons we have graphics that i've created using code from data that are not i the actual lesson.

One option it i may be able to hide that chunk so it doesn't write to the .R file when we purl it? Do you think tha

[2016-12-27 23:14] lwasser commented on #91
_From @mjones01 on April 11, 2016 17:27_

I think the most efficient fix would be to make a comment note in that code chunk explaining what it is and why.  The participants might not be able to create it, but they can see the code that would allow them to do so if they want to create a similar plot.

Specifically for this instance, this is data (and plot) from the time series tutorials (http://neo

[2016-12-27 23:14] lwasser commented on #91
I think that is a great solution. We can link to the download in the chunk as a comment.

[2016-12-27 23:14] lwasser commented on #91
_From @jsta on April 14, 2016 0:30_

:+1: to that solution

[2016-12-27 23:15] lwasser opened #92 "simple features package "sf""
_From @mdsumner on December 2, 2016 15:1_

sf is here:

https://cloud.r-project.org/web/packages/sf/index.html

Are there obstacles in the lessons that might be solved by some of the new sf features?  Possibles I can imagine are:

- problems installing  (it's now better supported and independent of rgdal, though Mac still todo)
- no need to understand the dsn/layer separation, sf::st_read more fri

[2016-12-27 23:15] lwasser commented on #92
_From @jsta on December 2, 2016 17:2_

This is a good idea. Although I haven't run into any issues with `rgdal` installing during workshops, I can see that the pipe operations would be more consistent with the material in the Data Carpentry [Intro to R materials](https://github.com/datacarpentry/R-ecology-lesson) which I used a prerequisite for this spatial lesson.

[2016-12-27 23:15] lwasser commented on #92
i worry a bit about added complexity. i don't think we want to teach dplyr w spatial at the same time. DC workshops assume no prerequisites.

[2016-12-27 23:15] lwasser commented on #92
_From @mdsumner on December 3, 2016 3:0_

Good point, but sf is only dplyr-compliant, it's not required.  Keen to
hear opinions about all aspects.

Ideally the same known functions would work without changing, but
unfortunately the same lack of consistency with sp/raster looks likely to
worsen before it improves. DC perspective will be important for the sf,
raster, and ggplot2 developers over the

[2016-12-27 23:15] lwasser commented on #92
_From @jsta on December 4, 2016 15:53_

Prerequisite was the wrong word. I meant that I hold an `Intro to R` workshop first. I realize that `dplyr` for teaching is a bit controversial. For learners who take the intro workshop, it might be nice to give them a payoff for learning `dplyr`. I don't actually use the piping aspects of dplyr much myself.

[2016-12-27 23:15] lwasser opened #93 "2016-07-21 Workshop Takeaways"
_From @jsta on July 21, 2016 17:56_

I ran a workshop using these materials. Our group ran into the following pain points:
- [x] Plot appearance can be much different depending on the size of the **RStudio** _plot pane_
- [ ] Learners can be tripped up if they mistakenly use `SpatialMultiPointsDataFrame()` rather than `SpatialPointsDataFrame`
- [x] The materials could be improved by adding a link

[2016-12-27 23:15] lwasser commented on #93
Hey @jsta - why don't you turn the above into a list so we can knock them out? just use the following syntax for each bullet

[code]

- [ ] list item looks like this.

We taught raster first SO the challenge at the end of L00 wasn't a problem. it sounds like you taught vector first. To avoid this - i think we should merge both repos and have all activities that combine raster and vector be include

[2016-12-27 23:16] lwasser opened #94 "Vector 02: Challenge Histosols & Intceptisol switched"
_From @mjones01 on April 13, 2016 22:9_

In workshop several participants used different code and got the reverse. I checked and the furthest south point should be an Inceptisol not a Histosol.
Cause?  levels() alphabetizes but we use unique() not levels().  Therefore when we manually assign the name in the legend, assuming these are alphabetized, they are represented backwards.

_Copied from orig

[2016-12-27 23:16] lwasser commented on #94
_From @mjones01 on April 13, 2016 22:12_

Fix:
instead of manually typing what we want in the legend, automate it.
~ line 200:
legend=c(levels(plotLocations$soilTypeOr),levels(roads_HARV$TYPE)),

[2016-12-27 23:17] lwasser opened #95 "Vector 04: Show example of setting crs without borrowing from an existing file."
_From @mjones01 on April 13, 2016 20:10_

@lwasser I saw your recent response (10 April) to comment on Vector 04 (first part only).  I think Michael was attempting to ask for an example of how to set the CRS using a proj4 string (or EPSG #), as the same question come up when teaching this today.
We currently only show how to borrow an CRS but I can see a Data Tip showing both using proj4 and EPSG

[2016-12-27 23:17] lwasser commented on #95
_From @jsta on July 21, 2016 17:57_

:+1:  I agree with this

[2016-12-27 23:18] lwasser opened #96 "V00 Challenge points to V01 for help"
_From @mjones01 on March 2, 2016 16:46_

The wrap up  Challenge: Plot Raster & Vector Data Together in Vector 00 refers to Vector 01 if the participants need help.  Referring to a tutorial that hasn't yet been taught seems counter to our lesson progression.  Additionally, I'm not exactly what skills V01 adds to help with that challenge.

Suggestion: Review this challenge again after the lesson has

[2016-12-27 23:18] lwasser opened #97 "LESSON 00 Challenge"
_From @lwasser on January 6, 2016 19:59_

It might be nice to have a challenge at the end that takes the NEON plot locations in both point and polygon format. The user can plot them and we can ask them questions about each dataset - and how it's stored differently.

_Copied from original issue: datacarpentry/NEON-R-Spatial-Vector#66_

[2016-12-27 23:18] lwasser commented on #97
_From @jsta on July 21, 2016 18:11_

I think this would work as long as the [Intro to geospatial data lesson](http://neon-workwithdata.github.io/NEON-R-Spatio-Temporal-Data-and-Management-Intro/R/spatial-data-formats) has been covered. I particularly like the section examining the _Stucture of a Lines Feature_. However, at least for lesson 00, I would avoid getting into the details about nested po

[2016-12-27 23:19] lwasser opened #98 "Lesson 02: Create Metadata File"
_From @mjones01 on November 10, 2015 17:55_

Removed from Rmd 9 Nov.:
# NOTE: create metadata for this file!

 ->I believe this is in reference to HarClip_UTMZ18

Lesson 02
http://data-lessons.github.io/NEON-R-Spatial-Vector//R/csv-to-shapefile-R/

_Copied from original issue: datacarpentry/NEON-R-Spatial-Vector#44_

[2016-12-27 23:19] lwasser commented on #98
@mjones01 this is great - can you please also reference the FILE that had the comment in it so we know where to go once this is done to talk about metadata?

[2016-12-27 23:19] lwasser commented on #98
_From @mjones01 on December 22, 2015 18:59_

The lesson (as of PR https://github.com/data-lessons/NEON-R-Spatial-Vector/pull/51) is now written to look at the data itself for clues to what the data is.
Do we still want to add a metadata file?

[2016-12-27 23:19] lwasser commented on #98
metadata is crucial. And spatial metadata is good to familiarize oneself with. I'd like to leave this open even if i have to create EML for it.  For instance, if the CRS is missing (the prj file) you won't know what the CRS is UNLESS
1. you have a good GIS eye and call "tell" using experience
2. you have another layer that lines up with it perfectly.

[2016-12-28 13:57] natalie-robinson commented on #91
I like this solution too :)

[2016-12-28 15:47] brymz opened #99 "Bryn to Brym in authors: list for raster lessons"
My name is misspelled in `authors:` throughout the raster lessons. I am `Zack Brym`.

I would be happy to make the changes, but I wanted to be sure I didn't get in the way of the big transition. I can do it anytime today or otherwise as needed.

[2016-12-28 15:53] brymz commented on #14
I do not think this issue applies anymore and can be closed.

It seems this will be covered by #90.

[2016-12-28 15:55] lwasser commented on #99
Hey Zack – please fix it throughout! Submit a PR. Thanks for catching this!

I know you’re busy but also let us know if you’re interested in participating more in maintaining the lessons in any way ☺ no pressure.

Leah

[2016-12-28 15:56] lwasser commented on #14
THANK YOU. i was thinking some of these older issues may be dated. Let's close it! Thanks @brymz

[2016-12-28 15:56] #14 closed

[2016-12-28 15:57] lwasser commented on #91
haha - hey there @natalie-robinson :) i'm slowly going to pick through all of these outstanding issues!! there are so many here now. i hope you are well. miss you a bunch!

[2016-12-28 16:04] lwasser opened #100 "Reorder and renaming of all lessons"
Based on teaching these several times, let's reorder (and rename accordingly) the lessons as follows:

## Intro to Raster data

1. 00-Raster-Structure.Rmd
2. 01-Plot-Raster.Rmd
3. 02-Reproject-Raster-In-R.Rmd
4. 03-Raster-Calculations-In-R.Rmd
5. 04-Multi-Band-Rasters-In-R.Rmd

** also make all names LOWER CASE **
## Intro to Vector Data

1. 00-open-a-shapefile.Rmd
2. 01-shapefile-attributes.Rmd
3

[2016-12-28 17:49] #99 closed

[2016-12-28 19:29] mjones01 commented on #99
@brymz FYI I've also made these corrections in the NEON website repo (https://github.com/NEONInc/NEON-Data-Skills/pull/105) since the lessons are hosted in two locations and have diverged slightly.

[2016-12-28 19:37] brymz commented on #99
Thanks, @mjones01!

[2016-12-29 14:50] jsta commented on #90
What about intersecting states by the NEON zone polygons?

[2016-12-29 15:45] lwasser commented on #90
I think that would definitely cover intersect well! But it could be a bit more meaningful in terms of data if we did something with landuse. What do you think? I haven’t looked at the vector data in a while. I remember we didn’t have much so I added some us boundary and states just to allow for more options. We could do something like intersect landuse with a NEON domain or a state and then calcul

[2016-12-29 15:55] lwasser commented on #100
ok! I  just pushed this change @jsta thanks for the thumbs up!! i realized i need to fork so I can do PR's that you can look at rather than pushing directly. I'll get that started now! Closing this issue for the time being as the re-ordering is done!! :)

[2016-12-29 15:55] #100 closed

[2016-12-29 16:01] lwasser commented on #3
@brymz do you remember what this issue is? I'm looking to tick off issues and i am not sure what this one is actually about anymore.

[2016-12-29 16:02] lwasser commented on #84
ok - we have merged the repos so I am going to call this issue complete and close it!! please reopen if you feel like i missed something :)

[2016-12-29 16:02] #84 closed

[2016-12-29 16:09] lwasser commented on #85
hey @jsta did you ever encounter this crashing issue? i'm just wondering if we need to keep this open. I couldn't recreate it myself and didn't encounter it in class last time.

[2016-12-29 17:07] brymz commented on #3
I think it was a sanity check. If the data provides min-max value, should you still go through the 'setMinMax()' step? Do they always produce the same values?

Probably a minor point that could be dismissed.

[2016-12-29 17:11] lwasser commented on #3
Ok - i follow now! thank you. This is what we have in lesson 00

https://github.com/datacarpentry/R-spatial-raster-vector-lesson/blob/gh-pages/00-raster-structure.Rmd

Note that the setMinMax() function is commented out and mentioned as an example of what to do if the values aren't already calculated in the raster metadata!

[code]

Are you comfortable with how that was handled? If so, i'll close

[2016-12-29 17:15] #3 closed

[2016-12-29 17:20] lwasser commented on #85
ok - me too. I'm going to close this for now AND if we can reproduce it in the future - we can re-open it. Thanks @jsta !!

[2016-12-29 17:20] #85 closed

[2017-08-30 13:49] jsta opened #104 "Size of raster download"
The remote sensing download is very large (>150 MB). Are there any ways we could reduce the size to ease workshop setup? Are there layers we don't use? Would it reduce the size if we ran the layers through `raster::aggregate`?

[2017-08-30 14:20] lwasser commented on #104
Hey @jsta I’m sure there is a way to decrease size. I’m assuming you’re referring to the “NEON-DS-Airborne-Remote-Sensing” download as there are actually two remote sensing datasets!

You could potentially resample things. The problem will be that are a coarser resolution the extract and comparison with ground data may not work as well. This could be OK for the class if you don’t really want to ta

[2017-09-05 18:42] jsta commented on #92
I have ported the existing code from `sp` to `sf` at https://jsta.github.io/r-geospatial-lesson/. I have not brought the remaining text in line with `sf`.

[2017-09-06 15:29] lwasser commented on #92
Sounds good @jsta how do sf objects interact with raster objects when you use functions like extract() ? that was one of my big concerns with using sf.
The other was you have to install ggplot from github rather than cran to access geom_sf when plotting. Have those issues been resolved?

Leah

[2017-09-06 15:44] jsta commented on #92
* I convert `sf` to `sp` in the `extract` call. My understanding is this will be the workflow for some time until https://github.com/r-spatial/stars comes online.

* I use native sf plotting rather than ggplot for now. Very little needed to be changed on the plotting side actually.

The biggest change was probably the fact that `raster::extent` does not work on `sf`.

[2017-09-06 17:16] lwasser commented on #92
ok that's good to know. And you don't find that the convert to SO for extract is confusing? i'll have a look at the code! and just plotting using baseplot vs ggplot. that makes sense.

[2017-09-06 17:27] jsta commented on #92
Yea, sounds like stars could be a while.

[2017-09-06 17:29] lwasser commented on #92
cool! @jsta ggplot is also PAINFULLY slow to plot vector data. and the raster parts are difficult as you have to layer rasters using annotation. so probably what you did is a great first step for now and we could have an optional ggplot lessons for those who may want to check it out. doesn't need to be taught unless it's requested. Legends and stuff are so much easier with ggplot. but... it has it

[2017-09-06 20:56] mdsumner commented on #92
Slow for vector?  That's not my experience,  can you share an example -
happy to discuss,  probably not here I guess.

tabularaster has some of sf-raster,  but I'm afraid any real integration is
unlikely in raster's current form

On Thu, 7 Sep 2017, 03:29 Leah Wasser <notifications@github.com> wrote:

--
Dr. Michael Sumner
Software and Database Engineer
Australian Antarctic Division
203 Channel Hi

[2017-09-07 00:05] mdsumner commented on #92
Can I clone that as a repo or similar, is the code also in the 500Mb bundle?

[2017-09-07 01:27] mdsumner commented on #92
To add, I would either create a new repo specifically for asking questions, or put together a Gist with a question - or consider using github.com/r-spatial/discuss Issues for similar.  Stackoverflow is a good place too for concise questions, I don't like SO so much but it's interesting to read Yihui's thoughts here on engagement with developers, and I wish we had more sand-boxy environments to dis

[2017-09-07 01:57] mdsumner commented on #92
I've had a closer look at the roads examples, there's nothing obviously inefficient there - it's really about the overall size of the data, there's a lot of detail in there that you never see - and there's no easy way around that I'm afraid. If it needs to be sped up I'd consider either zooming in on the dense city region (I tried `sjer_roads_df %>% dplyr::filter(between(long, -120.1, -120), betwe

[2017-09-07 19:08] jsta commented on #93
I think this is solved with the recent re-ordering and merging of the raster and vector lessons.

[2017-09-07 19:08] #93 closed

[2017-09-07 19:09] jsta commented on #26
This is solved by the sf package which doesn't use slots.

[2017-09-07 19:09] #26 closed

[2017-09-07 19:09] jsta commented on #82
This is solved by the `sf` package which doesn't use slots.

[2017-09-07 19:09] #82 closed

[2017-09-08 14:26] jsta commented on #94
Addressed by #105

[2017-09-08 14:26] #94 closed

[2017-09-08 14:33] jsta commented on #87
Seems like this has already been corrected.

[2017-09-08 14:33] #87 closed

[2017-09-08 14:35] jsta commented on #5
Looks to me like this has already been done.

[2017-09-08 14:35] #5 closed

[2017-09-09 12:51] jsta opened #106 "Moving to datacarpentry template design"
Here is a list of items where I see a need to update given the switch (#105):

* [ ] suppress package loading messages (Leah) **Addressed in https://github.com/datacarpentry/r-raster-vector-geospatial/pull/173**
* [ ] make images centered on the page
* [ ] code linting (adding spaces between `=`)  (Leah)
* [ ] stylize figure captions somehow
* [x] add [blockquote markup](https://swcarpentry.github

[2017-09-12 13:33] jsta commented on #106
I am taking on the blockquote markup task.

[2017-09-14 01:53] jsta commented on #106
TIL about [this vim shortcut](https://stackoverflow.com/a/253391/3362993) for inserting multiline blockquote carets `>`

[2017-09-15 15:47] lwasser commented on #106
hey @jsta  my plan is to tackle the linting... i'm working on a lot of lessons here for a workshop next week and my class but i want to help!! so i can help with the linting. i can also have a look at the template items and see if i can clean those up. ONce all of this is done we should get a DOI for this through DC zenodo and make sure we have a "cite" link at the bottom like the other lessons. I

[2017-09-18 22:36] lwasser opened #111 "may i use you as an author for my course lessons?"
Hey @jsta i'm going to redo my vector lessons and would like to add you as an author.

they are here

https://earthdatascience.org/courses/earth-analytics/spatial-data-r/intro-vector-data-r/

 Are you ok with that? i'm adding sf and want to credit your work changing the lessons and contribting to the initial content!! let me know please!.

[2017-09-18 22:55] lwasser opened #113 "extra files in the site"
looks like the knitr script that i created is still there. @jsta how are you building files now? does the make workflow automate things? or are you still using that script?

I removed the rakefile. i am assuming we don't use bundler or anything to build locally ??

[2017-09-18 22:59] lwasser opened #114 "liquid variable based url paths used through the site - {{ site.baseurl }}"
Currently many url's use

`{{ site.baseurl }}` in the path. i don't see that defined in the _config.yml file so i'm not sure it is necessary unless it's used in other repos.

Let's check this out and decide if we need to modify paths throughout.

[2017-09-18 23:00] lwasser opened #115 "data (particularly tif files) in the repo will bloat the repo size quickly. remove?"
In general it's not a good idea to host data - particularly .tif files - in a git repo! do those files need to be in with the `.Rmd` files @jsta ?

[2017-09-19 00:20] jsta commented on #113
I am building using the Makefile and `make lesson-md`. I check the site locally before commiting. My workflow is in the [README](https://github.com/datacarpentry/R-spatial-raster-vector-lesson/blob/gh-pages/README.md) and in this [thread](https://github.com/swcarpentry/styles/issues/171#issuecomment-328087424).

I think we can remove everything that isn't mentioned int the Makefile, doesn't appear

[2017-09-19 00:22] jsta commented on #115
Nope, good catch. I believe they are side effects of chunks that are "writing" data. Need to set them to `eval=FALSE`.

[2017-09-19 00:32] jsta commented on #111
Sounds good to me. :ok_hand:

[2017-09-19 13:01] jsta commented on #92
Now that the code has been converted over I am in the process of checking the explanatory text for accuracy relative to `sf`.

[2017-09-19 13:41] jsta commented on #114
I am not too familiar with liquid based urls but they seem to work ok. I think the paths just need to be changed to match the renamed files?

[2017-09-19 15:53] lwasser commented on #111
Wonderful. Thank you. i'm going to close this issue and will add you to the author list.

[2017-09-19 15:53] #111 closed

[2017-09-19 15:57] lwasser commented on #113
ok... i'll look closely at the make file but at first glance, I think that we can remove my knitr script too! i have it in case it's ever needed but i don't think it is with the makefile. i'll leave this open as i move through other files.

[2017-09-19 16:01] lwasser commented on #114
i have a feeling they aren't doing anything!
Here is an example that uses them:

[code]
Here is an example config.yml file with the baseurl and url paths . note i don't use baseurl (called as `{{ site.baseurl }}` just url which is called `{{ site.url }}` or

https://github.com/earthlab/earthlab.github.io/blob/master/_config.yml

Here is this repo's config file

https://github.com/datacarpentry/R-s

[2017-09-19 16:02] lwasser commented on #115
oh!! ok. perfect. it looks like you've fixed this already. so i'll close this issue. reopen if i'm wrong.

[2017-09-19 16:02] #115 closed

[2017-09-19 17:00] #92 closed

[2017-09-28 15:42] jsta commented on #21
Adding a "Data tip" callout with a link to a function tutorial would be good. There are some other points where tutorial links would be useful. Two that come to mind are:

* The first point where subsetting with `$` is used.

* The first point where subsetting with `[` is used.

[2017-09-28 15:51] jsta commented on #106
Another thing we should check is points in the lessons where the raster package is being called unnecessarily. Mostly this is a holdover from when we used the raster package to check the extent of vector objects.

Also, we might think about making the lessons more consistent by dropping `raster::extent` and using the newly added functionality in the `sf` package for checking the extent of rasters

[2017-09-28 15:52] lwasser commented on #106
Ahhhh… good points. If we are moving to SF AND sf supports extent then I think that makes sense. We did that initially as you point out to make grabbing those attributes more consistent!

Ps – have you seen this

https://annefou.github.io/metos_python/aio/

Anne made it! It looks really good.

[2017-09-29 13:16] jsta opened #118 "2017-09-27 Workshop Takeaways"
This workshop went great! The workshop website is at: https://jsta.github.io/2017-09-27-LBNL/

Our progression was:

1. Intro to GIS
     * What is a GIS layer?
     * What is a projection?
     * What are some common data types?
     * What are the important R packages?

2. Raster I
     * [Intro to raster](http://www.datacarpentry.org/R-spatial-raster-vector-lesson/01-raster-structure/)
     * [

[2017-09-29 13:24] jsta commented on #118
One takeaway for me was that it probably would have been better to teaching converting csv to shapefile earlier.

[2017-10-09 15:28] jsta opened #119 "Drop st_convexhull in favor of st_sfc(st_bbox(foo))"
Bounding boxes can be converted directly to polygon [using `st_sfc`](https://github.com/r-spatial/sf/blob/master/R/bbox.R#L65).

[2018-02-23 13:59] jsta opened #122 "Add contributing and conduct info to README"
Specifically need to direct people to edit `_episodes_rmd` **not** just `_episodes_`.

[2018-02-23 14:58] lwasser commented on #122
Dc and swc used to have a contributing file I believe. Maybe we should add that ?

[2018-02-23 14:59] lwasser commented on #122
https://github.com/datacarpentry/R-ecology-lesson/blob/master/CONTRIBUTING.Rmd

[2018-03-06 22:19] jsta opened #124 "Add an empty folder _episodes_rmd/data"
This will make it more obvious where to place the lesson data without opening the lesson materials. Use a `.gitkeep` file.

[2018-03-06 22:53] lwasser commented on #124
Should we add /data/* to .gitignore too just in case someone adds data in a diff dir in there ?

[2018-03-19 17:55] PunamA opened #125 "issue with NEON AOP LiDAR sensor not being found"
Hi, I was going through the intro to raster in R lesson (http://www.datacarpentry.org/R-spatial-raster-vector-lesson/01-raster-structure/) and when I clicked the  NEON AOP LiDAR sensor (URL: http://www.neonscience.org/science-design/collection-methods/airborne-remote-sensing) the page was not found.

[2018-03-20 23:43] aticup opened #126 "question for episode 10 on the home page"
I noticed there are no descriptions for some of the episodes. One in particular I can add to right now is episode 10. The lesson question could be "How can I import and visualize spatial data stored in .csv files". They should also be consistent, i.e. some are questions and some are statements. I'm happy to suggest some more tweaks that can solve this issue!

[2018-03-22 18:18] lwasser commented on #126
@aticup i agree!! id love to see someone work on this. Will you participate in the bug bbq? are you already a maintainer. please tackle this task :) and any discussion around it can happen here!!

[2018-03-22 18:19] lwasser opened #127 "autobuild of this repo"
@fmichonneau did you or can you also setup the autobuild on this repo that you have setup in the spatial intro lessons? that will make it MUCH easier for folks to contribute to this repo!!

if this is already done please say the word!

[2018-03-22 18:21] lwasser commented on #125
it looks like this is the new link
http://www.neonscience.org/data-collection/airborne-remote-sensing

Does that look right to you @PunamA ??

Are you comfortable with creating a pull request to make this update to the .Rmd file? and if you are you can submit that and add the PR id to this issue! i'm labeling this as a bug in the lessons !

[2018-03-22 18:22] lwasser commented on #126
i'm labeling this as an enhancement to the lessons for the time being! if you wish to take it on them we can assign the task to you too @aticup ... great issue!

[2018-03-22 19:18] lwasser commented on #127
thank you :) wonderful!!
gosh we are getting such good feedback from the community on the lessons. they will be so much better after this all! :)

[2018-03-22 20:55] aticup commented on #126
I can generally help with content cleaning and writing out the objectives. Yes, I was hoping to help out with this one during the bug bbq actually! I joined the slack a couple days ago :)

[2018-03-22 21:23] fmichonneau commented on #127
OK, automatic build and deploy from Travis seems to be working now. **Be sure to update your branch**. Everything should happen in master now, not in gh-pages. Changes pushed there will be lost!

[2018-03-22 21:23] #127 closed

[2018-03-22 21:34] lwasser commented on #126
oh awesome!! @aticup is there a link to join slack somewhere? i somehow seem to miss these details :)

[2018-03-22 23:11] aticup commented on #126
@lwasser [this](https://swcarpentry.slack.com/messages/C9ME7G5RD/) is the link that I went to...but I was going to ask you if I was on the right one haha!

[2018-03-22 23:12] lwasser commented on #126
let's ask @fmichonneau ... are we using the SWC slack channel  or DC or is there a shiny new one? :)

[2018-03-23 14:33] fmichonneau commented on #126
There is a DC-geospatial channel in our Slack: https://swcarpentry.slack.com/messages/C9ME7G5RD
If you don't have an account already you can create one and join our slack here: https://swc-slack-invite.herokuapp.com/

[2018-03-23 14:39] PunamA commented on #125
Hi Leah,
I tried to create a pull request, but i'm not sure if I did it correctly. I also forked the 01-raster-structure.Rmd and updated it but I believe it is only in my fork and not sure how to merge it with the data-carpentries pages.

Sorry, i'm new to the GitHub but very much want to learn it properly.

[2018-03-23 15:03] jsta commented on #125
Hi @PunamA,

It's great you want to learn Github! One difficulty I see with your pull request is that it needs to be made against the "master" branch not the "gh-pages" branch (see #127). My recommendation for small fixes like bad links is to edit the file in the browser by clicking the pencil icon:

![image](https://user-images.githubusercontent.com/7844578/37836715-8e23ad86-2e89-11e8-8813-c8b331

[2018-03-23 15:11] jsta commented on #127
Is this info something that could be added to a PR template?

[2018-03-23 15:18] PunamA commented on #125
Hi @jsta ,

oh few, I was just writing back because I thought I made a mistake by closing it. let me know if I need to try change anything. this was a great learning experience for me :)

[2018-03-23 15:21] fmichonneau commented on #127
It shouldn't be necessary. `master` is now the default branch for the repository, so future pull requests will be made against it by default (unless someone specifically changes it when submitting a pull request).

[2018-03-23 15:37] jsta commented on #125
Good to hear. Thanks for the PR!

[2018-03-23 15:37] #125 closed

[2018-03-23 15:40] lwasser commented on #125
hey @PunamA would you like to learn how to work on these things on a fork rather than a direct edit to this repo? I think your workflow is great! BUT forking is much better as it will ultimately allow you to work locally as well if you want to more easily. it's up to you!!  but let us know if that is of interest!!

THANK YOU for this update to the lessons.

If you did fork the repo... you can make

[2018-03-23 15:40] lwasser commented on #125
i'm leaving this closed but if you'd like to try this i could walk you through it in an issue!! a new issue and we could make one small change to the lessons

[2018-03-23 15:49] PunamA commented on #125
Hi @lwasser ,
yes I would definitely love to do that. I think I created a fork on the repository:

![github](https://user-images.githubusercontent.com/16193398/37839169-29efb33a-2e90-11e8-8766-717019f0731e.PNG)

[2018-03-23 15:50] lwasser opened #130 "Missing Images in the lessons - incorrect paths"
There are several missing images on the pages! to begin - let's look at lesson one

http://www.datacarpentry.org/R-spatial-raster-vector-lesson/01-raster-structure/
The following images are missing on this page:
- [ ] http://www.datacarpentry.org/images/dc-spatial-raster/raster_concept.png
- [ ] http://www.datacarpentry.org/R-spatial-raster-vector-lesson/01-raster-structure/
- [ ] http://www.datac

[2018-03-23 15:56] lwasser opened #131 "Forking and Submitting a PRs"
@PunamA -- OK let's continue this conversation here! and we have a great opportunity to try to fix 3 images on that same page where you fixed a link!

1. you have a form of this repo. excellent!
2. when you have a fork, a key thing to keep in mind is that fork is in YOUR account. thus updates to the DC repo can get updated and your account can fall behind. to account for that you need to submit a

[2018-03-23 16:28] PunamA commented on #131
OK I think I did this: my screen now shows no conflicts and I changed base to my account and head to datacarp:
![image](https://user-images.githubusercontent.com/16193398/37841257-aaff41ca-2e95-11e8-8737-a2ab63d94f83.png)

[2018-03-23 16:33] lwasser commented on #131
VERY NICE!! so you created the pull request to UPDATE YOUR FORK!! good work!
Next, MERGE IT! that will then incorporate all of the edits from the DC repo into yours. that way you are up to date with DC.

IMPORTANT: do this before you update lessons in the future to ensure you're up to date!

HINT: if you want to see what changes are being incorporated with this PR, click on that files changed tab

[2018-04-05 16:08] ErinBecker opened #133 "convert static plotting from base r to ggplot2"
According to the CAC conversation:

For this we will be reading the data in as an sf object, recasting it to a dataframe, and using the stable ggplot on CRAN.

See up to date list of which episodes remain to be converted at the end of this thread.

[2018-04-05 16:09] ErinBecker opened #134 "write new content for interactive plotting with leaflet"
Leah has a sample lesson that she can provide to show one possible way of implementing this.

@lwasser - could you please put the link to the sample lesson in this issue?

[2018-04-05 16:10] lwasser commented on #134
Here you go

https://earthdatascience.org/courses/earth-analytics/get-data-using-apis/leaflet-r/

i think i may have another one somewhere but this is a start.

[2018-04-05 16:15] lwasser commented on #133
Here is a ggplot lesson BUT it's using the tidy() function to go from sp -> a df. i'm not sure actually how to cast from sf @jsta or @chris-prener do either of you guys know how far off what i wrote is from what we will want to teach sf -> ggplot friendly df.

https://earthdatascience.org/courses/earth-analytics/spatial-data-r/make-maps-with-ggplot-in-R/

[2018-04-05 16:54] janu123 commented on #133
Hi Erin and Leah,
Are we using the ggmap package for static maps?

On Thu, Apr 5, 2018 at 9:45 PM, Leah Wasser <notifications@github.com>
wrote:

--
Janani Selvaraj
Research Scholar
Department of Environmental Management
Bharathidasan University
Tiruchirapalli

[2018-04-05 16:56] lwasser commented on #133
here is my 2 cents. ggmap is super cool but sometimes it doesn't load properly on people's machines. sometimes you need the dev version. SO... i think it's fine to show people ggmap but i wouldn't count on it working 100% of the time for workshops so i'd keep it optional / as a demo. i'd love to hear other people's experiences tho. i normally show students ggmap and maps just in case.

[2018-04-05 17:00] janu123 commented on #133
I had an experience showing static maps using ggmap for survey data
coordinates ... Since they wanted static maps with the with the google maps
background... But as u said I could not proceed with that later because i
got some errors

On Thu, Apr 5, 2018 at 10:26 PM, Leah Wasser <notifications@github.com>
wrote:

--
Janani Selvaraj
Research Scholar
Department of Environmental Management
Bharathida

[2018-04-05 17:02] lwasser commented on #133
yes...it's really nice when it works. there are just install issues on some machines. I suggest it is an added component at the end of the plotting lesson - that can be demoed IF the instructor chooses to do so and with the risk that it won't work on some computers. :)

[2018-04-05 17:16] janu123 commented on #133
Just wanted to know how far have you explored  packages like highcharts and
plotly for interactive maps... And also how good is it to show packages
like shiny for interactivity in a workshop

On Thu, Apr 5, 2018 at 10:32 PM, Leah Wasser <notifications@github.com>
wrote:

--
Janani Selvaraj
Research Scholar
Department of Environmental Management
Bharathidasan University
Tiruchirapalli

[2018-04-05 17:46] lwasser commented on #134
adding @tyson-swetnam to this conversation! @ErinBecker  why can't i add him as an assignee since he is working on the lesson? just curious. it's nice if people see someone is working on htis actively

[2018-04-05 17:50] ErinBecker commented on #134
@tyson-swetnam hasn't accepted the invite to join the geospatial-maintainers team yet, and so he can't be assigned issues. I've emailed him just now to remind him about the invite. Should be able to start assigning him work soon!!

[2018-04-05 17:51] lwasser commented on #134
ok wonderful. i was wondering what that is about!! thanks @ErinBecker he is working on this lesson which is super awesome!!

[2018-04-05 17:59] tyson-swetnam commented on #134
Sorry @ErinBecker somehow I missed seeing the invite in my Github. I'm here now!

[2018-04-05 18:10] lwasser commented on #133
We will be using leaflet for interactive maps. This particular task is specific to static plots! @tyson-swetnam  is working on a leaflet lesson for interactive maps. Plotly is great - but i think it's better for interactive plots vs actual maps. Please focus on the basics of static plotting for this lesson but keep all ideas on the table (we just won't address them all now so we can get the basics

[2018-04-05 18:11] janu123 commented on #133
Ok :)

On Thu, Apr 5, 2018 at 11:40 PM, Leah Wasser <notifications@github.com>
wrote:

--
Janani Selvaraj
Research Scholar
Department of Environmental Management
Bharathidasan University
Tiruchirapalli

[2018-04-05 18:13] lwasser commented on #133
so appreciative of your work on this and the thoughts @janu123 thank you. :)

[2018-04-05 18:15] janu123 commented on #133
Sorry if I was exaggerating ... I was just curious:)

On Thu, Apr 5, 2018 at 11:43 PM, Leah Wasser <notifications@github.com>
wrote:

--
Janani Selvaraj
Research Scholar
Department of Environmental Management
Bharathidasan University
Tiruchirapalli

[2018-04-05 18:17] tyson-swetnam commented on #134
@ErinBecker Plotting with Leaflet instead of `plot()` could impact the entire rastor/vector lesson structure. It would be less work to just introduce Leaflet as a new Lesson (15). On the other hand, if we integrated it as a major revision to the lessons starting with Lesson 2 (Plotting Rasters) and Lesson 6 (Opening Shapefiles in R) it could eventually make its way into all of the lessons.

Though

[2018-04-05 18:25] ErinBecker commented on #134
@lwasser - I agree. It would be good to write up more detailed issues. I assumed that the meeting minutes were sufficient background, but I probably have some blind spot there since I was at the meetings!

[2018-04-05 18:25] ErinBecker commented on #134
@lwasser - I've got back to back meetings starting soon. Would you be able to write some more detailed issues for the Maintainers so they know what the next steps are?

[2018-04-05 18:27] lwasser commented on #134
I can work on this a bit tomorrow or maybe tonight! I’m in the same camp tho – meetings this afternoon and a presentation. ☺

[2018-04-05 18:31] ErinBecker commented on #134
I'll see what I can do!

[2018-04-05 18:39] ErinBecker commented on #133
Thanks @janu123 and @lwasser for the conversation above. I'm elaborating a bit on the CAC discussion to see if I can help clarify the goals here.

The CAC had an in-depth discussion about the various options for both static and interactive plotting of geospatial data. The options that were considered for static plotting were  base R / ggplot / and tmap. For ggplot, there was a detailed conversatio

[2018-04-05 18:46] ErinBecker opened #135 "testing installation and setting up a Docker image"
The CAC had an in-depth discussion about the benefits and downsides of providing a Docker image (or some other pre-installed instance, for example an AWS image) for learners at a workshop. As Geospatial software is often quite difficult to install, and has a lot of dependencies, there was agreement that it would be useful to:

- test the installation of all of the software to be used in this works

[2018-04-05 19:40] juanfung commented on #133
@ErinBecker I think the easiest way is `some_sf_object %>% sf::st_set_geometry(NULL)`

[2018-04-05 19:55] jsta commented on #133
I am very familiar using `sf` with the development version of ggplot (`geom_sf`). I have neither taught nor am I very familiar with using `sf` in combination with the stable `ggplot` functions. I have only taught `sf` (and `sp`) with base-plotting.

My guess is we need to have a three-step process:
`sf` -> `sp`
`sp` -> "tidy df"
"tidy df" -> stable ggplot

[2018-04-05 20:24] juanfung commented on #133
@lwasser The result is an object of class `data.frame`, though it won't have coordinates. If you want the coordinates for plotting: `sf::st_coordinates(some_sf_object)` returns a matrix with the coordinates.

[2018-04-05 20:29] jsta commented on #133
I think that will get very messy with polygon and line objects right? My feeling is we want to avoid manual tidying of complex coordinates in sf list columns.

[2018-04-05 20:32] lwasser commented on #133
totally. i agree we want to avoid manual stuff. i was thinking it would create a nice clean geojson col like geopandas :) but it sounds like that may not be the case! gosh i wish geom_sf was just on the ggplot cran. maybe the workflow about is best then @jsta ? @juanfung we do want to plot and keep attributes for colors.

[2018-04-06 13:47] lachlandeer opened #136 "Moving away from `setwd()`?"
Hi All

As I looked over the material I saw there were a lot of instances of `setwd(.)`

If we are going to use Rstudio and RStudio Projects (and assumption, I know) we can remove all instances of `setwd()` since the Project sets the working directory for us.

[2018-04-06 14:15] jsta commented on #136
I agree that in most instances workshop learners would be using a project set up after the first episode so `setwd` instructions would be unnecessary. One justification I see (although I'm not sure its a good one) for keeping the `setwd` calls is to aid people who are not using the materials in a workshop context or who need help locating data files.

[2018-04-06 14:28] lwasser commented on #136
yup. that is why we originally added `setwd()`. about 80% of people who use the online lessons just work through them. it's actually a lot of people!!! BUT... what we could do is:

have that lesson on r projects and at the top of each lessons say "this l esson assumes that you  have your working directory set OR that you have a R project <<link to r proj lesson>>.

i'm fine with removing setwd fro

[2018-04-06 14:40] lachlandeer commented on #136
Great -

@lwasser agree we might want to make it clear, and then refer people to the intro lesson where we show how to do this.

Seeing people's Rscripts start with setwd("my_unique_path")  at the head always worries me since it kills reproducibility.

I also use the `here` libraries `here()` function for anything directories, but adding that might be a step too far?

[2018-04-06 15:18] lwasser commented on #136
i hear ya @lachlandeer i think `here()` may be a bit much for now BUT could be a nice breakout in the projects intro lesson?? :) i'm with you though. it does kill reproducibility and i think your suggestion is  a great one!

[2018-04-07 00:09] chris-prener commented on #135
thanks @ErinBecker this all seems good. Do you have tips for Linux? I could set up travis on the repo - that would tell us if everything installs but it wouldn't give us 100% clarity on potential pitfalls.

[2018-04-07 00:28] chris-prener commented on #133
hey @lwasser just getting caught up on this. I've tested this a little with the polygon data built into `sf`. Here is a reprex of the process:

[code]

![](https://i.imgur.com/pqUi7HK.png)

I agree this is super clunky, and I wish `geom_sf()` would get released as you do, but it does seem to work...

[2018-04-07 01:34] obrl-soil commented on #133
`geom_sf` is certainly cleaner, but I don't think the above example is particularly clunky. [Clunky is when you start trying to get properly cartographical in software that, lbr, isn't designed for it](https://gist.github.com/obrl-soil/f786f3e9b5f2343769b773ac25db7b52) :P

wrapper packages like `tmap`, `ggmap`, and my fave, `ggspatial` can make things a little more brief, e.g.

[code]
but at the e

[2018-04-07 01:43] chris-prener commented on #133
hey @obrl-soil I was thinking of clunky more from a teaching perspective - my workflow above uses three different data frame types that would all have to be introduced. `ggspatial()` does have the advantage of "hiding" that mess. Not sure what you think @lwasser?

[2018-04-09 15:32] lwasser commented on #133
This is great discussion @chris-prener @obrl-soil  !! Here is my 2 cents :)
If we think about fundamentals i think showing the `tidy()` step is good because it allows for a teaching moment where you explain that `ggplot()` fundamentally expects some sort of `data.frame` object. In the lesson you could show them the before object (sf) vs the after tidy object (df) and intermediate sp (eeks) if you'

[2018-04-10 16:48] lachlandeer opened #137 "Installation of rgdal on Ubuntu 16.04"
Hi All

On a fresh-ish installation of Ubuntu (I had installed gdal) I had issues installing `rgdal` -

Here's the output of `install.packages(rgdal)`

[code]
**Solution**
To overcome this I had to install the following stuff via command line

[code]

and then try reinstalling `rgal`

Cheers

Lachlan

[2018-04-10 17:13] lachlandeer opened #138 "Installation of `sf` on Ubuntu 16.04"
Similar to #137 installing `sf` wasn't working on a relatively plain vanilla version of Ubuntu 16.04.

After entering `install.packages("sf")` I got the following error:

[code]

And this was *despite* entering the following on the command line `gdalinfo --version` and being told I had version 2.2.0.

**SOLUTION**

After struggling for a bit I found that the problem was that inside the file `/usr/

[2018-04-11 10:14] lachlandeer commented on #137
good question @chris-prener to which I dont have a good answer... some googling yielded a semi convincing answer (or set of answers) here:

https://stackoverflow.com/questions/1157192/what-do-the-dev-packages-in-the-linux-package-repositories-actually-contain

Open to any better explanation from others too :)

[2018-04-11 14:26] lwasser commented on #137
interesting. and you installed gdal and you could call it at the command line without any issues before having to install this other stuff? i've had issues with rgdal when it's not bound properly to other envts like bash. i can't speak for linux however as i haven't tried to install it there (or couch -- windows recently either).

[2018-04-11 14:42] lachlandeer commented on #137
@lwasser yes it was somewhat suprising (I'll admit to doing any fancy command line calls though, maybe there were ways to also get it to have issues there)...

In any case, I think it is probably good to at least have a troubleshooting document that has this info on it.... otherwise I could imagine quite a tough beginning to the workshop debugging all this stuff

[2018-04-11 21:07] chris-prener commented on #135
hey @tyson-swetnam that is the goal - I am waiting until after the bug bbq to firm up what the image looks like incase we are using any packages that aren't already contained in `rocker/geospatial`. Just want to make sure that package meets our needs. If it doesn't, I'll build an image on top of it that installs `rocker/geospatial` plus ours.

[2018-04-11 21:08] chris-prener commented on #137
@lachlandeer that is one of my goals for this week around the bug bbq is to make sure we have so documentation for setting things up

[2018-04-12 15:43] ErinBecker opened #142 "Lesson release checklist"
## Lesson Release checklist

**For each lesson release, copy this checklist to an issue and check off
during preparation for release**

Scheduled Freeze Date:   2018-04-27
Scheduled Release Date:  2018-04-30

Checklist of tasks to complete before release:

- [ ] check that the learning objectives reflect the content of the lessons
- [ ] check that learning objectives are phrased as statements usin

[2018-04-12 17:12] fmichonneau commented on #137
The `-dev` suffix provides additional files that can be used to develop extensions of the packages. It is not the development version of the package.

In case it helps, to build the lessons I need to install all the dependencies. Here is the list of packages needed: https://github.com/datacarpentry/r-raster-vector-geospatial/blob/master/.travis.yml#L12

[2018-04-12 17:14] fmichonneau opened #143 "Remove CONTRIBUTORS"
it's not part of our standard set of files

[2018-04-12 17:15] fmichonneau opened #144 "Add CONTRIBUTING.md"
and include technical details about infrastructure, where to make contributions, etc.

A more expanded version of what's currently in the README

[2018-04-12 17:16] lachlandeer commented on #137
awesome - thanks @fmichonneau, that should help a lot

[2018-04-12 17:43] MicheleTobias opened #145 "Lesson 01 Raster Structure - output with no code"
In the section called "Types of Data Stored in Raster Format" there is R output for the Harvard forest data with no code that generates it, so if you are new, it might be confusing - i.e. "What is this list of specs for?  Where did it come from?"

[2018-04-12 17:59] lachlandeer commented on #133
Hi @lwasser @chris-prener @obrl-soil

it would be great to come up with a one example that many of us agree with so that we can post that here as an example and then create a todo list of the other graphs to update. We can then hopefully use some contributors from the bug BBQ to help us go through and make the updates.

I'm not a ggplot / mapping guru otherwise i would propose one myself ;) But if

[2018-04-12 18:05] lwasser commented on #133
@lachlandeer  THANK YOU for helping us all get organized on this!! And for helping improve the lessons!!

I think the example that @chris-prener provided earlier could be good:
@jsta  do you agree as well? and @lachlandeer does that example make sense to you?

[code]

in this example you are plotting polygons
points will be a bit different if i remember correctly.

[2018-04-12 18:13] lachlandeer commented on #133
@lwasser - yes that looks like something pretty understandable!

Do you know if we can do all if this in a pipe?

i.e would the following (plus modifications most likely) work?

[code]

[2018-04-12 18:17] lwasser commented on #133
try it! it could work just fine @lachlandeer  i haven't tested it but know people pipe sf objects a lot!
the as("Spatial") line is the one i'm not sure how the pipe will handle. but totally try it. pipes are great for students to see.

i think it would be good to show the non pipes syntax in a breakout just in case it's cognative overload for students to absorb pipes... @chris-prener what has been

[2018-04-12 18:19] MicheleTobias commented on #133
I agree about the non-pipes syntax option.

[2018-04-12 18:26] lachlandeer commented on #133
Yes - both are defs useful

in the  R-intro lesson as it stands I have left the dplyr stuff and there are some examples at the end (that I want to simplify by removing facet wraps) that do the "data-manipulation piped into ggplot" style so that learners have a reference to look at with a "simpler" rectangular dataset

[2018-04-12 18:29] lachlandeer commented on #136
With #141 merged and providing instructions on setting up a Project, I think we can do the following:

1. Remove the setwd()'s
2. at each episode in the pre-reqs mention that we assume they set up the project, link to it; and potentially suggest if they haven't to setwd()

If we agree I think we can post this as "help wanted" to try and get it up and done in the next 24-48 hours?

[2018-04-12 18:40] ErinBecker commented on #133
Hi all, just wanted to add my two cents.

It seems to me (not a geospatial person), that the "basic" workflow we're looking at here is
1) read in data as an sf object
2) convert to a dataframe
3) use standard ggplot syntax

Since the second step is turning out to be more complex than we perhaps at first expected, my proposal is to  make the dataframe outside of the lesson and provide it to the lea

[2018-04-12 18:43] lwasser commented on #133
hey @ErinBecker !! this is a good thought... but i don't think it's an ideal approach.  `sf` is essentially a df like object. step 2 is actually
convert from
1. sf to sp
2. sp to df

so you can use the tidy function which allows for ggplot plotting. This is the crux of spatial data in R and it's important for them to understand that ggplot doesn't natively plot spatial data. you need to do *someth

[2018-04-12 19:37] chris-prener commented on #137
thanks @fmichonneau - really appreciate this!

[2018-04-12 19:44] chris-prener commented on #133
hi all - I double checked the ability for these functions to be used in a pipeline (the `reprex` is included below). Everything works out. I think that it might be a lot for folks who are brand new to `R` to get into pipelines as well. I have the same feelings as @lwasser - once I expose students to pipes they generally love them **but not always**. Depends on their comfort with programming typica

[2018-04-12 20:01] lachlandeer commented on #133
OK - so a plan forward:

1. Stick with @chris-prener 's first example as the main way we want to present / code up the ggplot maps
2. Add a 'Tip' at important points informing learners they can pipe it all together. In the tip link them to [here](http://www.datacarpentry.org/r-intro-geospatial/10-dplyr/) where we discuss the process more generally

I think this also gives instructors at an individ

[2018-04-12 20:05] lwasser commented on #133
Agreed!!! @chris-prener super helpful feedback! it's cool to hear your experiences too with teaching this stuff :) @lachlandeer i think your steps outlined above sound perfect. thank you again for clarifying and for the attention to detail! this is all really great stuff to hash out.

[2018-04-12 21:00] lachlandeer opened #146 "raster to ggplot - episode 01"
Hi all

Toying around converting the raster data in episode 01, and the process to get to a data.frame to send to ggplot that I've taken is a little different (@chris-prener 's solution in #133 doesn't carry one-to-one for rasters?).

here is what I have so far:

[code]

The output looks like this:
![image](https://user-images.githubusercontent.com/4036802/38703929-f2450794-3ea4-11e8-88df-d96966a9

[2018-04-12 21:11] lachlandeer commented on #146
Nevermind - I found a solution myself, `geom_raster()`:

[code]

yielding:

![image](https://user-images.githubusercontent.com/4036802/38704490-d3015322-3ea6-11e8-943d-9a50d709950a.png)

[2018-04-12 21:25] chris-prener commented on #133
glad it was useful @lwasser!

[2018-04-12 22:33] lachlandeer commented on #133
To Do list: render plots as ggplot objects for:

- [ ] Episode 1
- [ ] Episode 2
- [ ] Episode 3
- [ ] Episode 4
- [ ] Episode 5
- [ ] Episode 6
- [ ] Episode 7
- [ ] Episode 8
- [ ] Episode 9
- [ ] Episode 10
- [ ] Episode 11
- [ ] Episode 12
- [ ] Episode 13
- [ ] Episode 14

@lachlandeer is working on episode 1 now

[2018-04-12 22:37] lwasser commented on #145
i don't see this @MicheleTobias can you provide a link or something for clarification? i see a code chunk that would provide metadata but i'm not sure if that is what you are referring to.

[2018-04-12 22:41] lwasser commented on #145
maybe this? `echo=FALSE` would hide the code. i normally teach this without code - so i introduce the topic BEFORE introducing the code ... the code is just below that section (if this is what you are referring to?? i teach CRS the same way. rather than any overloading with code and concepts all at once... i'm open to thoughts from others on this tho... that's just how i teach @jsta  what have you

[2018-04-13 13:33] lachlandeer commented on #133
Hi All

does anyone know how to use different color scales for each `geom_raster()` with ggplot? I want to overlay multiple rasters with different color sets but it seems like this is not possible and the original color scale is overwritten

Here's my current example code
[code]

And this is the warning message:
[code]

[2018-04-13 14:29] lwasser commented on #133
I suggest we considering opening a new issue for this potentially @lachlandeer  this is SUCH a question. it's not actually possible with native ggplot the way it's setup. the way i did it in the past in a workshop  was to use the RStoolbox package which makes creating a raster annotation easy. you can't have 2 different raster colormaps (or couldn't last year anyway) with ggplot.

i'd LOVE to hear

[2018-04-13 14:33] chris-prener commented on #133
hey @lwasser and @lachlandeer - I don't have anything to add on this one unfortunately - my work is with vector data almost exclusively. That said, I think this is a good place to acknowledge the limits of doing GIS in `R` rather than introducing a ton of additional complexity into lessons that are already too long... just my two cents though!

[2018-04-13 14:38] lwasser commented on #133
ahhh gotcha! well i don't see this as a limit with r! it's a limit with ggplot. this is actually VERY VERY easy with base plot. 2 lines of code in fact!! it's just ggplot has limitations. i will be honest - this is why i've yet to full adopt ggplot plotting for spatial data in my classes. (i know this is a can of worms opening statement!!) sorry! :)

so. with ggplot legends are easier BUT youre li

[2018-04-13 14:41] pmarchand1 commented on #136
What do people think of this draft language for the prereq box?
[code]

[2018-04-13 14:47] pmarchand1 commented on #133
It seems most of the discussion of moving from base to ggplot was based on sf objects. For rasters, another advantage of using base plot (or specifically, the 'plot' method overloaded by the raster package) is that the whole data doesn't need to fit in R memory.

[2018-04-13 14:51] chris-prener commented on #133
ok got yah @lwasser - I've never used base for plotting spatial data so that is where the real limit is! It seems like, based on what you and @pmarchand1 have said, that one option is to teach `ggplot2` for vector but keep rasters in `base`. Or we could use `rasterVis`, which I just googled and it looks super cool...

[2018-04-13 14:55] lachlandeer commented on #133
so after beating my head against the wall if we do the hillshade with `geom_tile` and the then the `geom_raster` for elevation we can get something semi-good...

[code]

yields:
![image](https://user-images.githubusercontent.com/4036802/38741795-1365a5dc-3f3b-11e8-9c74-71cedd6c7dfa.png)

which is slowly moving towards how the version from baseplot looked, and probbaly will be better with a finer g

[2018-04-13 15:46] lachlandeer commented on #136
I like it, thoughts @lwasser @jsta ?

[2018-04-13 17:07] juanfung commented on #135
Sorry that I'm a bit late to the party. I was lightly tracking the etherpad, and did not realize related issues had been opened.

I'm using Vagrant to test installations on Ubuntu 14.04 and 16.04, 32 and 64 bit. For instance, the following works on 16.04:

[code]

It is worth noting that the [documentation for `sf`](https://github.com/r-spatial/sf) suggests `ubuntugis-unstable`, but so far this ha

[2018-04-13 17:10] chris-prener commented on #135
hey @juanfung this is **awesome**! Yes, I've got OS X and Windows, and will synthesize all of the Linux notes I get from folks into a single document

[2018-04-13 18:11] ErinBecker commented on #135
Sorry for the late response @chris-prener. We'd like to have all of the setup info on the workshop homepage: https://github.com/datacarpentry/geospatial-workshop/.

[2018-04-13 18:39] MarconiS commented on #130
Hi! I am working on it.
I am just removing the {{site.baseurl}}: in theory this should be enough to point to the right paths?

[2018-04-13 19:17] fmichonneau commented on #130
Leah, you are correct {{site.baseurl}} doesn't exist in our lesson template.
In theory, `images` is also not a standard folder in our template. All image files should be in `fig/`.

I suggest in the future we use `knitr::include_graphics()` in a code chunk to insert external images. It creates the environment, makes it easier to ensure the graphics are the correct size and will render the paths co

[2018-04-13 20:38] MicheleTobias commented on #145
In the rendered site, there's output messages for loading libraries, but there's no code in the text that would generate that.
![capture102](https://user-images.githubusercontent.com/8761459/38756847-b7458f12-3f1f-11e8-8b41-2894b2d76432.PNG)

[2018-04-13 22:24] lwasser commented on #145
oh gotcha! we can just suppress those messages! would that make it more clear given the code is below? it's just that above we don't teach the code we just introduce what a raster is .

Let me know what you think. We can easily suppress messages on the package loads OR just turn messages off in the code chunk! like this:

[code]

does that work for you? if so do you want to submit a PR for it?

th

[2018-04-13 22:29] lwasser commented on #146
ok everyone! what do you think about ggplot and raster data?? @jsta my experience is it gets tricky when you want to overlay rasters. because i've only taught this with base i'd like to hear what others thing! @lachlandeer  did you have any luck getting overlay working?

[2018-04-13 23:08] eliocamp commented on #133
Hey, I don't know if this is solves the issue, but the `metR` (disclaimer: I wrote it :grin: ) has a `geom_relief()` that draws a relief map from height data without touching any scale:

[code]

![](https://i.imgur.com/rbd0tks.png)

[2018-04-13 23:46] eliocamp commented on #133
A more general answer is to use `ggplot2`'s `annotation_custom()`.

[code]

First, you can make one plot with it's own gradient.

[code]

![](https://i.imgur.com/VnzQ2hB.png)

Then, you take the important part of the plot and add it to a second plot.
[code]
![](https://i.imgur.com/CqjQnhA.png)

Of course, this example is meaningless because is the same data both times. The tricky part is the `grob

[2018-04-14 06:49] statnmap commented on #133
The problem when using `geom_raster` or `geom_tiles` directly on your entire raster is that you will quickly be limited with big rasters. You computer and ggplot will not be able to handle 1M pixels rasters.  `rasterVis::gplot` allows for a regular sample of your raster to plot only pixels that are needed for a quick plot.
However, if you want more flexibility on information you plot from your ras

[2018-04-15 13:57] jsta commented on #144
Good idea. I wonder if some of this info could be added to a PR template. Specifically the bit about making PRs against the Rmd files not the md files.

[2018-04-15 14:02] jsta commented on #146
I have little experience with ggplot and raster data. I've only really used base plotting with rasters.

[2018-04-15 14:10] jsta commented on #136
Looks good to me!

[2018-04-16 14:48] lwasser commented on #133
you annotation raster and the RStoolbox is the only way i've gotten this to work as well @paleolimbot  it avoids the issue with needing 2 diffferent colormaps which ggmap doesn't natively support from what i can tell.

[2018-04-16 14:51] lwasser commented on #136
https://github.com/datacarpentry/r-raster-vector-geospatial/pull/148

this is the PR... i think we can merge. the only thing @fmichonneau  brought up was repeating the same intro over and over. My take on that is if the lessons are online - you never know when someone will hit what page! BUT if it's a DC no no we might not want to do that... but i think it's good for online . please have a look at

[2018-04-20 15:50] juanfung commented on #135
This worked on Fedora 27:

[code]

Something similar should work on CentOS, preceded by `yum install -y epel-release` to add the EPEL repo. See this SO answer [for an example](https://stackoverflow.com/a/29908216/5037901).

I've tried and failed to install `sf` on CentOS 7. The problem is that the `GDAL` version in the EPEL repos is not `GDAL (>= 2.0.0)` as required. Building GDAL from source seem

[2018-04-21 15:02] jsta commented on #122
CONDUCT.md is already in the repo. Closing here in favor of #144

[2018-04-21 15:02] #122 closed

[2018-04-21 17:21] lachlandeer opened #155 "raster with hillshade in ggplot2 - episode 02"
Hi @jsta  @lwasser  @paleolimbot @statnmap,

moving our conversation about hillshading in #133 to a seperate issue to isolate it a little.

I've spent a little time working on this and I've found what I think is a ggplot solution that is acceptable. I think staying inside the ggplot paradigm is probably the right move - adding more and more libraries early on is probably confusing for learners. We

[2018-04-21 20:14] jsta commented on #155
Looks good to me. I agree with limiting extra packages.

[2018-04-23 12:38] #124 closed

[2018-04-23 15:41] lwasser commented on #155
well... i'm not sure this is doing the same thing which is why it looks fuzzy. the idea of the hillshade is the blacks represent shadows and make for a really crisp 3 dimensional looking image.

See:
![image](https://user-images.githubusercontent.com/7649194/39137022-d90d6a22-46d9-11e8-8282-5bf020df0fca.png)

Above i think the same color ramp is used for both images which is why the dimension of t

[2018-04-23 16:12] lachlandeer commented on #155
OK - let's be explicitly clear what the ggplot is doing:

1. The DSM is map is coded as follows:
[code]
and produced this:
![image](https://user-images.githubusercontent.com/4036802/39138432-2d880a1c-4720-11e8-8eb5-6c3b42bd8d45.png)

2. the hillshade by itself is coded as:
[code]
yielding:
![image](https://user-images.githubusercontent.com/4036802/39138311-f198445e-471f-11e8-804e-e9f1eb399193.png)

[2018-04-23 17:35] lwasser commented on #155
Great points lachlan!! Your point about showing the essence of the idea is an excellent one.

What about this... what about a small breakout at the end of the lesson  that discusses  overlay raster plotting using raster annotation and maybe just an example using baseplot? Just so folks know other options are there... That way those folks looking for the higher quality plot get where to go. But we

[2018-04-24 12:32] chris-prener commented on #135
thanks @ErinBecker - sorry I've been offline - had a viral infection that kept me largely sidelined from email and work. I'll get on the `SETUP.md` file with my notes!

[2018-04-25 12:06] chris-prener commented on #135
hey @ErinBecker - quick update - can you just check my markdown and make sure I am putting this together in a way that makes sense?

https://github.com/chris-prener/geospatial-workshop/blob/gh-pages/setup.md

Also @lwasser and @lachlandeer - are we still going to be using `rasterVis`? I ask because it is not listed in the [rocker geospatial image](https://github.com/rocker-org/geospatial). I'll ch

[2018-04-25 15:17] lwasser commented on #135
i think it's good to show `rastervis` IF we get to the raster time series lessons. I've never taught a workshop where we actually get to it. normally i demo it at the end :) in short it's probably good to include but don't count on always needing it!

[2018-04-25 15:25] lwasser commented on #135
actually looking closer the only thing i used to have people install was the gdal libraries.
i've never installed:
UDUNITS, proj4 and geos independently not even on my machines!

[2018-04-25 15:28] chris-prener commented on #135
ok good to know. my understanding is that `sf` requires it via RTools for Windows... which I've had them install if they are Windows users and it goes totally fine. Am I incorrect there?

- `README` mentions it - https://github.com/r-spatial/sf
- `DESCRIPTION`  requires it `SystemRequirements: GDAL (>= 2.0.0), GEOS (>= 3.4.0), PROJ.4 (>= 4.8.0)` - https://github.com/r-spatial/sf/blob/master/DESCRI

[2018-04-25 15:29] chris-prener commented on #135
And UDUNITS is a dependency of `sf` that doesn't install correctly on Linux machines, so you have to install it independently - this isn't an issue for Windows and macOS.

[2018-04-25 15:30] lwasser commented on #135
AHHHH ok and i wouldn't know that as i've been slow to use sf teaching!

[2018-04-25 15:32] chris-prener commented on #135
makes total sense @lwasser - I can be a little clearer about why the libraries are needed on the SETUP page?

[2018-04-25 15:36] lwasser commented on #135
sure thing... well given you've taught sf more than i have i'll trust your decision here and perhaps others have input @jsta  @lachlandeer !! it was interesting because i was teaching sp and hdf and for the first year i always fought with these libraries. then i tried it without and the workshop was seamless. It could be however that `sf` operates differently.  A bit of clarification up front is a

[2018-04-25 16:09] chris-prener commented on #135
ok @lwasser, @ErinBecker, @jsta and @lachlandeer (and @fmichonneau - would love your input here, too) - I wanted to pass on an update on **Docker**.

There is one package we include in our lessons - `rasterVis` - that is not available through the [`rocker/geospatial`](https://github.com/rocker-org/geospatial) image. @lwasser indicated that this is only really used in the time series episode, and t

[2018-04-26 15:05] chris-prener commented on #135
I've opened a PR over on `geospatial-workshop` that addresses this Issue. https://github.com/datacarpentry/geospatial-workshop/pull/8

[2018-05-18 22:26] ErinBecker commented on #145
I like @lwasser's solution above.

[2018-05-21 16:35] lwasser commented on #155
sounds good to me for the time being @ErinBecker @lachlandeer

[2018-05-28 17:59] jsta commented on #145
I am in the process of implementing this change in #147

[2018-05-28 18:39] jsta commented on #146
I am going to close this issue because I haven't heard any disagreement. I think we are good to go to start merging PR's based on this approach. Happy to re-open if I am mistaken.

[2018-05-28 18:39] #146 closed

[2018-05-28 18:41] jsta commented on #118
Closing this for now. We can always find it again by searching the issues.

[2018-05-28 18:41] #118 closed

[2018-06-11 20:43] fmichonneau opened #160 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-11 21:32] #145 closed

[2018-06-19 18:35] ErinBecker opened #165 "to-do (work in progress)"
I'm working through the lesson now and making myself a to-do list of things that need clean up or clarification.

All episodes
- [x] Change `rasterToPoints` calls to `as.raster::data.frame` syntax. **Addressed in https://github.com/datacarpentry/r-raster-vector-geospatial/pull/223**
- [x] Change `\n` in plot titles to `subtitle = `. **Addressed in https://github.com/datacarpentry/r-raster-vector-g

[2018-06-20 01:35] jsta commented on #165
Too much typing can be a real struggle for workshops good idea to minimize it.

[2018-06-20 18:36] #155 closed

[2018-06-21 18:00] ErinBecker opened #170 "simplifying which data is used in the first few episodes"
The [first episode](http://www.datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/index.html) uses the `DSM_HARV` data (`data/NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif`).

The [second episode](http://www.datacarpentry.org/r-raster-vector-geospatial/02-raster-plot/index.html) uses the `DSM_HARV` and `DSM_hill_HARV` datasets (`data/NEON-DS-Airborne-Remote-Sensing/HARV/D

[2018-06-21 18:05] lwasser commented on #170
I think some of that was intentional. In the first 2 lessons we eventually overlay the 2 datasets so they need to be in the same projection. But in the third we teach how to reproject which means we need a dataset in a different projection…

Not sure what the best path is for this however but I believe that was the original intent!

[2018-06-21 19:18] ErinBecker commented on #170
Ok, I think I understand the intention here now. I will just add a bit of text to make sure that it's clear these are different datasets, probably with a pointer back to the introduction to surface vs topological models.

[2018-06-21 19:52] ErinBecker commented on #170
Closed with https://github.com/datacarpentry/r-raster-vector-geospatial/pull/169/files.
![screen shot 2018-06-21 at 12 51 51 pm](https://user-images.githubusercontent.com/19176319/41742131-eebbc66a-7551-11e8-951f-04856e209dbf.png)

[2018-06-21 19:52] #170 closed

[2018-06-21 19:56] ErinBecker commented on #138
@chris-prener - can this be closed now that the setup instructions have been updated?

[2018-06-21 19:56] ErinBecker commented on #137
@chris-prener - can this be closed now that the setup instructions have been updated?

[2018-06-21 19:59] ErinBecker commented on #136
Hi @lwasser and all - sorry I missed this issue when I was reading through. I didn't realize there was a history for why each episode had its own intro and I removed a lot of that information in https://github.com/datacarpentry/r-raster-vector-geospatial/pull/163. Sorry about that!! I can replace the information about setting the working directory up if that's how y'all have agreed to do it. In ou

[2018-06-21 21:20] ErinBecker commented on #86
@lwasser I think this issue has been addressed now. See screenshot:

![screen shot 2018-06-21 at 2 19 43 pm](https://user-images.githubusercontent.com/19176319/41746142-31ba8bde-755e-11e8-9b97-680246dd75a9.png)

Can this be closed?

[2018-06-21 21:27] ErinBecker commented on #95
@lwasser  @jsta Working through old issues in advance of publication. Anything remaining to be done on this or can it be closed?

[2018-06-21 21:28] ErinBecker commented on #96
@lwasser  @jsta Working through old issues in advance of publication. Anything remaining to be done on this or can it be closed?

[2018-06-21 21:28] ErinBecker commented on #97
@lwasser  @jsta Working through old issues in advance of publication. Anything remaining to be done on this or can it be closed?

[2018-06-22 01:29] lwasser commented on #90
Yes! Close it please

From: Erin Becker <notifications@github.com>
Reply-To: datacarpentry/r-raster-vector-geospatial <reply@reply.github.com>
Date: Thursday, June 21, 2018 at 3:26 PM
To: datacarpentry/r-raster-vector-geospatial <r-raster-vector-geospatial@noreply.github.com>
Cc: Leah Wasser <Leah.Wasser@Colorado.EDU>, Mention <mention@noreply.github.com>
Subject: Re: [datacarpentry/r-raster-vecto

[2018-06-22 01:32] lwasser commented on #86
Erin – this issue may still be outstanding. The units that you see in that image are the HORIZONTAL – x and y units. However I think in the text it talks about the VERTICAL units. Ie the elevation presented in the raster. I’m not logged in to be more specific now but I think someone should check this out to ensure the language has been fixed. You can NOT determine the vertical units without refere

[2018-06-22 01:34] lwasser commented on #91
I suspect we MAY be able to close this however I have no idea whether it was actually implemented so perhaps @jsta or someone else might know? I’m not able to check right now. Just responding to emails!

[2018-06-22 14:18] chris-prener commented on #138
yes @ErinBecker !

[2018-06-22 14:18] #138 closed

[2018-06-22 14:19] chris-prener commented on #137
yes @ErinBecker - I think we're good to go - once `ggplot2` is updated on CRAN I'll make one more update to the instructions - I'll open a new issue for that

[2018-06-22 14:19] #137 closed

[2018-06-22 15:12] #90 closed

[2018-06-22 15:19] jsta commented on #91
I think this issue is not referring to Ep 5 but rather Ep 12. Specifically, the section titled `Explore Unusual Data Patterns` where the file `NEON-DS-Met-Time-Series/HARV/FisherTower-Met/hf001-06-daily-m.csv` is loaded. I see this in the data download so I think we can close.

[2018-06-22 15:19] #91 closed

[2018-06-22 15:27] jsta commented on #95
This issue is referring to Ep 9 (Handling Spatial Projection & CRS in R). It is still true that we only show how to set a CRS by borrowing from an existing object rather than directly using an EPSG code. In my opinion we should show this not in Ep 9 but in Ep 10 (Convert from .csv to a Shapefile in R).

Specifically, I think we should show the common pattern for coercing non-projected data in a da

[2018-06-22 15:33] jsta commented on #96
This issue is referring to Ep. 6 and still needs a fix. My thought would be to simply delete the line in the wrap-up challenge reading: _For assistance consider using the Shapefile Metadata & Attributes in R, the Plot Raster Data in R tutorials._.  The links are broken anyway and I agree with the original comment that its not clear how the info would help.

[2018-06-22 15:34] jsta commented on #97
I think we can close. Primarily because the move to `sf` makes the differences in storage between point and polygon features less important.

[2018-06-22 15:34] #97 closed

[2018-06-22 15:57] ErinBecker commented on #135
@chris-prener - Is this ready to close?

[2018-06-22 15:58] ErinBecker commented on #134
This won't be implemented before the first lesson release, currently scheduled for mid-July. I've added a status:wait label.

[2018-06-22 15:59] ErinBecker commented on #86
@datacarpentry/geospatial-maintainers - can one of the Maintainers assign this issue to themselves and check out the units issue before our lesson release (currently scheduled for mid-July)?

[2018-06-22 16:03] ErinBecker commented on #25
The current lesson 1 includes a discussion of bad data, and has the learners explore the data to see if there are any bad values. There are none in the data set being used.

![screen shot 2018-06-22 at 9 01 04 am](https://user-images.githubusercontent.com/19176319/41786612-d6eecad8-75fa-11e8-8f83-ade5b0af515c.png)

Should this issue be closed? Or do we still want to add some bad data values before

[2018-06-22 16:04] chris-prener commented on #135
yes @ErinBecker  - the install instructions were updated to note that if folks are using Docker, they will need to install `rasterVis` themselves!

[2018-06-22 16:04] #135 closed

[2018-06-22 16:05] ErinBecker commented on #18
@lwasser @jhollist - I'm trying to clean up old issues in advance of our first lesson publication next month. This issue is about three years old, but I'm not sure whether it has been implemented. Has it been? Should it be before the lesson publication?

[2018-06-22 16:11] ErinBecker commented on #21
Based on the [recommendations from the CAC](https://github.com/datacarpentry/curriculum-advisors/blob/master/geospatial/minutes/march-2018-geospatial-minutes.md), we are now including a short introduction to R lesson in the workshop, before the raster vector lesson. This [introduction to R lesson](http://www.datacarpentry.org/r-intro-geospatial/) will take about 4 hours to teach, and includes a de

[2018-06-22 16:11] #21 closed

[2018-06-22 16:14] ErinBecker commented on #28
The challenge that is now at the end of episode 4 appears to be a direct review of the skills that were taught in that episode.

![screen shot 2018-06-22 at 9 12 54 am](https://user-images.githubusercontent.com/19176319/41787225-8c3338d8-75fc-11e8-9d0a-ddf5900d6246.png)

It has the learners calculating a CHM and exporting the GeoTIFF, which are the topics of the episode. Closing this issue now.

[2018-06-22 16:14] #28 closed

[2018-06-22 16:17] ErinBecker commented on #73
Leaving this open for now, as I don't think this has been addressed. @datacarpentry/geospatial-maintainers - could you please take a look at this and see if it needs to be addressed before the initial lesson publication next month?

[2018-06-22 16:39] lwasser commented on #18
oh @ErinBecker  i think we can close this. i think it's a good idea but we have plenty of content in the lessons now so i suggest closing. i'll close. you can reopen if you or Jeff disagree!

[2018-06-22 16:39] #18 closed

[2018-06-22 16:41] jhollist commented on #18
I agree.   Enough material as is!

On Fri, Jun 22, 2018, 12:39 PM Leah Wasser <notifications@github.com> wrote:

[2018-06-22 16:41] lwasser commented on #25
yes. it would be easy to modify the data but there is no good solution. i think a bit of discussion about bad vs missing data and options toa ddress it (without actually fixing it) could also work. The key learning lesson here i think is just to

1. look at your data - histograms help
2. quality check and read the metadata to determine how or if the data were "cleaned" previously

[2018-06-22 16:41] lwasser commented on #18
Great!! Thanks Jeff!

[2018-06-25 21:47] ErinBecker commented on #136
I'm re-adding this info to the headers (and cleaning up some other things in the process) here: https://github.com/datacarpentry/r-raster-vector-geospatial/pull/173.

Sorry about the confusion on my part!

[2018-06-26 17:05] ErinBecker commented on #133
@datacarpentry/geospatial-maintainers - Hi all, as we get closer to our target publication date (mid-July), I'm wondering how we can best move forward on the rest of the base plot --> ggplot conversions. @lachlandeer, @jsta, and @justinmillar did a great job on converting the first four episodes, but we have episodes 5 - 14 that still need converting. I'm unable to tackle this myself, as I'm not f

[2018-06-26 17:11] ErinBecker commented on #136
Closing as pre-reqs box has been implemented.

[2018-06-26 17:11] #136 closed

[2018-06-26 17:16] ErinBecker commented on #144
@datacarpentry/geospatial-maintainers - I think for this we can use most of the text that already exists here: https://github.com/swcarpentry/r-novice-gapminder/blob/gh-pages/CONTRIBUTING.md.

Could one of the Maintainers please check that language and see if there are any changes that need to be made for this lesson specifically?

[2018-06-26 17:19] ErinBecker commented on #131
Is it safe to close this issue?

[2018-06-26 17:22] ErinBecker commented on #130
@fmichonneau - Thanks for your feedback on this. I'm not familiar with setting up figure integration through an R Markdown chunk. Assigning this to you for our scheduled release in mid-July. Please let me know if you need anything from me. I'm happy to go through the lesson and make a particular change as long as you can tell me exactly what to change!

[2018-06-26 17:27] ErinBecker commented on #126
Hi @aticup - thanks for your help on this issue so far. I notice that there are a few episodes remaining that don't have any descriptive text on the lesson homepage:
![screen shot 2018-06-26 at 10 24 44 am](https://user-images.githubusercontent.com/19176319/41928777-30e1712a-792b-11e8-8eb8-00c1d20d4f97.png)

This descriptive text comes from the `questions:` section of the template and is located i

[2018-06-26 18:05] ErinBecker commented on #126
I'm also changing this from "enhancement" to "template-and-tools" as it is required in the template before the lesson can be published.

[2018-06-26 18:14] ErinBecker commented on #119
I searched the repo for the `st_convexhull` and `st_sfc` functions. This replacement appears to have been made. Closing.

![screen shot 2018-06-26 at 11 13 00 am](https://user-images.githubusercontent.com/19176319/41931112-f3469bb8-7931-11e8-90d5-f94b7ff7bc55.png)

![screen shot 2018-06-26 at 11 13 09 am](https://user-images.githubusercontent.com/19176319/41931116-f7aa8d9a-7931-11e8-81af-a3213ad4a

[2018-06-26 18:14] #119 closed

[2018-06-26 18:28] ErinBecker commented on #106
Closing in favor of https://github.com/datacarpentry/r-raster-vector-geospatial/issues/142.

I moved the remaining checklist items over to that issue, which is the lesson release checklist.

[2018-06-26 18:28] #106 closed

[2018-06-26 18:50] ErinBecker commented on #104
Currently, the following data files are listed on the [setup page](http://www.datacarpentry.org/r-raster-vector-geospatial/setup/).

- Site layout shapefiles
- Airborne remote sensing data
- Landsat NDVI raster data
- Meteorological data

![screen shot 2018-06-26 at 11 46 39 am](https://user-images.githubusercontent.com/19176319/41932735-b4fb7b9e-7936-11e8-8b13-e89538ffdb2f.png)

The remote sensin

[2018-06-26 18:56] ErinBecker commented on #98
@lwasser - I'm going through old issues now in preparation for our upcoming publication. Do you know if this has been implemented?

[2018-06-26 19:09] fmichonneau commented on #114
Let's leave this open for now. I'll do a technical review for this lesson before publication and I'll look into the best way to deal with this issue.

[2018-06-26 19:29] lwasser commented on #114
https://github.com/datacarpentry/r-raster-vector-geospatial/blob/master/_config.yml site.baseurl would be a sitewide variable defined in the above config file. it doesn't get defined from what i can tell in the current config file so can thus be dropped UNLESS @fmichonneau  you have some other build setup that i don't know about! it is just a core jekyll variable defined in the old site which used

[2018-06-26 19:50] lwasser commented on #98
this has not been implemented @ErinBecker at the time when this was raised NEON did NOT have any metadata for their data. HOWEVER now i suspect they do BUT also the data are completely different structure. SO i suggest that we close this for the time being unless there is interest in a redo of the lessons to use the new data. i recently downloaded some of the data and the structure is different fr

[2018-06-26 19:59] #96 closed

[2018-06-26 20:15] ErinBecker commented on #98
Thanks @lwasser. I'm closing this now. I agree that we don't want to completely re-do the lessons two weeks before publication!

[2018-06-26 20:15] #98 closed

[2018-06-27 12:11] jsta commented on #144
Looks good to me. Maybe all we need to do is change the links.

[2018-06-27 14:54] jsta commented on #104
I think it can wait until we have more workshop testing.

I haven't run into specific problems in the workshops I have led. Still I don't think the large size is necessary for learners and I worry both about the learner experience and our load on figshare.

[2018-06-28 15:53] lwasser commented on #104
Hi There.
A few thoughts on this.

1. the load on figshare isn't an issue! i've been putting much larger data on figshare for years now and it works well!
2. i've actually never had a workshop(or class) where they didn't have the data in advance. the way you achieve that is to be VERY proactive about contacting the participants ahead of time! it works.
3. the size of the data is a reality associat

[2018-06-28 16:00] lwasser commented on #131
yes. i'll close it. i was just trying to help our new maintainers along w using github :)

[2018-06-28 16:00] #131 closed

[2018-06-28 16:06] ErinBecker commented on #131
Great! Thanks @lwasser.

[2018-06-30 19:47] aticup commented on #126
@ErinBecker I'm on it! :)

[2018-07-09 18:38] ErinBecker commented on #133
@juanfung thanks! I'll put your name down on the list for those episodes. Yes, we are using ggplot with sf. The new release of ggplot2 on CRAN includes sf support, so learners will no longer need to install the development version of ggplot2!!

[2018-07-10 22:09] ErinBecker commented on #104
Sounds great! Thanks for the clarification @lwasser. I'll leave this issue open in case there is any feedback from Instructors once these lessons start being taught more broadly, but it sounds like we don't need to worry about it for the first release.

[2018-07-10 22:13] ErinBecker commented on #34
@lwasser - is this safe to close? I see that @mjones01 and @jsta  have both referenced this issue in PRs. Has it been resolved?

[2018-07-10 22:15] ErinBecker commented on #73
Any feedback from the Maintainers on whether this issue needs to be addressed before publication or whether it can be closed (or if we should wait for more feedback from instructors)?

[2018-07-10 22:16] ErinBecker commented on #86
Any feedback from the Maintainers (@jsta @obrl-soil @r4space) on this issue? Does it need to be resolved before our publication or can it wait?

[2018-07-10 22:17] ErinBecker commented on #114
Thanks @lwasser and @fmichonneau. I've assigned this issue to @fmichonneau to take a look as part of the technical review just before publication.

[2018-07-10 22:19] ErinBecker commented on #126
@aticup - Thanks for taking this on! Please let me know if you need any help. We're aiming for publication next week. I'm working on these lessons about 20 hours this week, so can help out with this if needed. :-)

[2018-07-11 13:54] jsta commented on #34
I don't think this is safe to close. The issue is not with lesson 5 (or 7) but rather the raster time series lesson 12. As @mjones01 says the scale factor is not mentioned in the metadata. My guess is that we need to revise the text to say that we can tell the scale factor from the plots (they max out at 10000) rather than from the metadata.

[2018-07-11 14:00] jsta commented on #86
My feeling is that we can include a note about checking vertical resolution in the `organization-geospatial` repo rather than here.

[2018-07-11 14:02] jsta commented on #73
My feeling is that color palette adjustments should be addressed at some point but maybe not before publication.

[2018-07-11 16:32] lwasser commented on #34
@jsta  are there lessons using landsat still in this series? were those kept? just curious. the scale factor should be in the landsat metadata. But i'm not sure if that metadata ever got placed in the dataset or not. is there a GTF file? i have that file but it doesn't have the actual metadata. Perhaps that metadata could be found online somewhere and linked to?

Also that data is old. it's actual

[2018-07-11 17:39] jsta commented on #34
I see it mentioned in https://landsat.usgs.gov/sites/default/files/documents/si_product_guide.pdf under the heading `6.1.1 Normalized Difference Vegetation Index (NDVI)`

[2018-07-11 18:45] lwasser commented on #34
That’s it, @jsta !! So here is an idea.

  1.  Have a maintainer copy that table into the lesson where it comes up and
  2.  Link to that pdf potentially as an additional resources (no one really loves reading those long docs but it’s useful to show a student). Then say go to page xx to see the table that is pasted into the lesson!

How does that sound?

[2018-07-12 14:29] juanfung opened #186 "Different CRS example in episode 9 is broken"
One of the objectives in episode 9 is to show users that mapping multiple layers requires their CRS to be the same. However, as I pointed out in #182, the new `geom_sf` function in `ggplot` automatically transforms subsequent CRS to make mapping easier!

This is from the documentation:
[code]
Thus, the question posed in the episode:

does not make sense, since the purple tower is clearly visible.

[2018-07-12 14:36] jsta commented on #186
Probably still a good idea to cover errors if objects have differing projections. Maybe instead of plotting we could direct the learners to attempt a geo-computation operation like measuring distances between mismatched projections?

[2018-07-12 14:42] lwasser commented on #186
I agree with joe!
In some ways it's bad it does it automatically only because reprojection should be a decision based on what CRS is most appropriate for the data. Example: lat long isnt ideal for a small field site. I second joes recommemdation!
On Jul 12, 2018, at 8:36 AM, Joseph Stachelek <notifications@github.com<mailto:notifications@github.com>> wrote:

Probably still a good idea to cover err

[2018-07-13 12:48] chris-prener commented on #186
I like @jsta's and @lwasser's idea a lot!

[2018-07-13 14:35] lwasser commented on #73
Agreed -- rainbow bright is not a good look for us :) if the data are indeed elevation then Terrain.colors is somewhat standard for a map. viridis is ok - i actually dislike it but that is personal. if @chris-prener  has some links that discuss good cartography practices i think that would be sufficient! then maybe just switch the rainbox palette something else as an example of ONE palette.

[2018-07-13 14:52] brymz commented on #73
Thanks, folks, for making an effort to address my feedback. Just to re-articulate the main points:

1) The extra color palette should not occur without introduction and can be removed or broken out as an 'extra-reading',
2) Whatever colors are chosen in the lesson (*I will not defend rainbow*), they should be consistent with a focus on the progression of building a spatial figure/analysis.

*It's

[2018-07-13 15:59] ErinBecker opened #194 "Simplify dataframe creation from raster objects"
This is currently done in two lines of code for each raster object that we convert throughout the lessons. @obrl-soil mentioned that it can be simplified to a single line of code (syntax in screenshot below). Will need to be changed in several episodes.

![screen shot 2018-07-13 at 8 58 07 am](https://user-images.githubusercontent.com/19176319/42701254-eb63bd44-867a-11e8-9a27-c5dbff077c94.png)

[2018-07-13 16:02] ErinBecker opened #195 "add reminder about hex colors"
In episode 2, the learners use `terrain.colors()` to generate a color palette. This function returns hex colors. Would be good to add a reminder that they've seen this before in episode 1 with the `rgb()` function.

![screen shot 2018-07-13 at 9 00 40 am](https://user-images.githubusercontent.com/19176319/42701380-4396e6f8-867b-11e8-9569-175635f85842.png)

[2018-07-13 18:54] aticup commented on #126
@ErinBecker OK I added or edited episode questions for all the episodes. Let me know if I can help with any other editing required!!

[2018-07-13 20:09] #126 closed

[2018-07-13 20:10] ErinBecker commented on #186
Sounds like there is broad agreement here. Would anyone like to take a stab at implementing those changes?

[2018-07-13 20:12] #160 closed

[2018-07-13 20:33] jsta commented on #186
Should we wait until #180 is merged?

[2018-07-13 20:35] ErinBecker opened #207 "remove unwanted code output chunks"
In [Episode 1](https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/index.html) this shows up at the beginning of the episode:

![screen shot 2018-07-13 at 1 21 44 pm](https://user-images.githubusercontent.com/19176319/42712586-14851bd4-86a1-11e8-94cc-ae7711204cad.png)

I already added `{r load-libraries, echo = FALSE, results='hide'}` to the chunk and it's not working to suppr

[2018-07-13 20:44] jsta commented on #207
Have you tried `message=FALSE`?

[2018-07-13 20:52] jsta commented on #186
Hmm, I'm having trouble coming up with a compelling operation here that is not too complex. We only have the one point object and a US state polygon layer in this episode. Maybe calculate the distance to a particular state?

[2018-07-13 21:20] ErinBecker opened #208 "problem with Travis CI builds"
Hi all @datacarpentry/geospatial-maintainers -

Just a note that there's a problem right now with the [Travis CI builds](https://travis-ci.org/datacarpentry/r-raster-vector-geospatial/builds).

For the error messages (below), it appears that if you merge a PR before the build from the previous PR completes, it cancels the build.
![screen shot 2018-07-13 at 2 17 14 pm](https://user-images.githubuse

[2018-07-13 22:12] lwasser commented on #186
extract() ?? that is raster / vector so it wouldn't fit here but ... agreed there is not a lot to work with here!!

[2018-07-13 22:16] #208 closed

[2018-07-14 17:35] chris-prener commented on #73
This is my favorite reading because there are so many good examples. There is also a bibliography at the bottom with links to peer reviewed sources if folks want to read even further - https://agilescientific.com/blog/2017/12/14/no-more-rainbows

[2018-07-16 16:31] juanfung commented on #186
How about an overlay of `point_HARV` on `state_boundary_US`:
[code]
Then we can talk about transforming the CRS and illustrate the plot *after the transformation*.

Maybe after this, a callout box or "tip" that informs the learner of `ggsf`'s behavior when given layers with different CRS?

[2018-07-16 17:22] MaxGhenis opened #212 "Workshop homepage link is broken"
https://datacarpentry.org/r-raster-vector-geospatial/ links to https://datacarpentry.org/geospatial-workshop/setup/ ("For installation instructions, see the workshop homepage"), which doesn't exist.

Should it go to https://datacarpentry.org/r-raster-vector-geospatial/setup.html ?

[2018-07-16 18:39] ErinBecker commented on #212
Thanks @MaxGhenis - this PR (https://github.com/datacarpentry/r-raster-vector-geospatial/pull/213) should fix that.

[2018-07-16 18:40] ErinBecker commented on #207
Will try, thanks @jsta. They're not warnings, so maybe the `message=FALSE` tag will do the trick.

[2018-07-16 20:08] #212 closed

[2018-07-16 20:24] ErinBecker opened #214 "explain / break down two complex lines of code"
Describe in conversation to this PR: https://github.com/datacarpentry/r-raster-vector-geospatial/pull/185/files
![screen shot 2018-07-16 at 1 24 19 pm](https://user-images.githubusercontent.com/19176319/42781642-91045074-88fb-11e8-8f06-ed3b5fed1764.png)

[2018-07-16 22:20] ErinBecker commented on #207
Whoops! They are in fact warnings (I was tripped up by the fact that they weren't rendering in red in the lesson, but they are clearly marked as warnings. Setting `warning=FALSE` and `message=FALSE` in the code chunk doesn't work though. Still poking around.

[2018-07-16 22:45] ErinBecker opened #215 "Remove geom_spatial calls - deprecated"
The `geom_spatial()` function in `ggspatial` was deprecated in its most recent release (July 12th, 2018). https://cran.r-project.org/web/packages/ggspatial/ggspatial.pdf.

@obrl-soil

[2018-07-16 22:47] lwasser commented on #207
weird.
[code]
is what i used for those in my lessons! there is also a function `supressmessages()` or something like that in R. it looks ugly though in the lessons.

[2018-07-16 22:54] ErinBecker opened #216 "Issues in episode 1"
[Episode 1](https://cran.r-project.org/web/packages/ggspatial/ggspatial.pdf)

- [x] https://github.com/datacarpentry/r-raster-vector-geospatial/issues/207
- [ ] https://github.com/datacarpentry/r-raster-vector-geospatial/issues/215
- [x] https://github.com/datacarpentry/r-raster-vector-geospatial/issues/214
- [x] `Warning in rm(RGB_df): object 'RGB_df' not found` - should be `RGB_2m_df` and possib

[2018-07-16 22:56] obrl-soil commented on #215
Ohhhh good spotting, I'll update my system and rework the plots

[2018-07-16 23:30] jsta commented on #207
Another thing to try is `capture.output`.

[2018-07-17 00:12] jsta commented on #186
@juanfung Unfortunately, I'm not sure that learners will be able to easily interpret the results of `st_intersection` in the case when we have re-projected and the function runs without error. How about:

[code]

followed by:

[code]

[2018-07-17 13:05] juanfung commented on #186
@jsta You raise a good point. Will learners be comfortable interpreting these kinds spatial operations at this point?

Anyway, I like your example. Not sure if it's too complex.

However, I can't run it:
[code]
Will learners be installing `sf` with this library?

[2018-07-17 13:13] jsta commented on #186
Doesn't look like we can count on learners to have it. There is no line with `libgeos-dev` in [.travis.yml](https://github.com/datacarpentry/r-raster-vector-geospatial/blob/master/.travis.yml)

[2018-07-17 20:45] ErinBecker opened #218 "polygon edge not found - intermittent error"
As discussed in https://github.com/tidyverse/ggplot2/issues/2252, there is a known bug with the `geom_sf()` function. It intermittently gives the error "polygon edge not found" and the plot fails. While the development team appears to be working on fixing this error, it is still unstable in the recent release of `ggplot` on CRAN.

`geom_sf()` is used in episodes 6, 7, 8, 9, 10 (after https://githu

[2018-07-17 21:01] jsta commented on #218
Sounds like the problem is specific to Mac, and caused by drawing the automatic degree symbol for non-projected (latlon) maps. One option is to suppress the tick labels with:

[code]

[2018-07-18 16:20] juanfung opened #219 "Missing data files"
The data in `_episodes_rmd/data/` are now missing. Not clear when or how they were deleted.

What's the best way to restore the data?

[2018-07-18 16:51] jsta commented on #219
I'm not sure I understand. I don't think they were ever committed to the git repo? If you are on windows maybe you can restore from the recycle bin?

[2018-07-18 17:06] juanfung commented on #219
Not on Windows.

Just did a fresh `git clone` and the `_episodes_rmd/data` folder is empty.

[2018-07-19 13:44] chris-prener commented on #186
should we include `libgeos-dev` as a dependency?

[2018-07-19 13:46] chris-prener commented on #186
check that - we include `libgeos-dev` in the setup instructions for the `geospatial-workshop` - so we should be able to count on learners having that installed @jsta

[2018-07-19 13:49] chris-prener commented on #218
hey @ErinBecker this error is frustrating for sure. My experience with using the development version of `ggplot2` this past semester is that my students on macOS were all able to produce maps reliably. If you re-execute the `ggplot()` call once or twice, the map will be drawn. Not ideal, but hopefully Hadley et al are able to run down the underlying cause soon.

[2018-07-19 14:07] juanfung commented on #186
It's not `libgeos`, but rather `liblwgeom`: https://github.com/r-spatial/lwgeom

[2018-07-19 14:10] chris-prener commented on #186
Thanks for the clarification @juanfung! If this seems like we could add this to the set-up instructions if its useful. Thoughts @juanfung @jsta @ErinBecker @lwasser

[2018-07-19 15:20] jsta commented on #186
From the `lwgeom` README and travis file, it looks like it is only necessary to have `libgeos-dev` to install `lwgeom` (we don't need `liblwgeom-dev`).

[2018-07-23 15:46] ErinBecker commented on #194
Fixed with https://github.com/datacarpentry/r-raster-vector-geospatial/pull/223

[2018-07-23 15:46] #194 closed

[2018-07-30 11:55] lachlandeer opened #227 "Cleaning up some RGB value manipulation in episode 12"
In episode `_episodes_rmd/12-time-series-raster.Rmd`

There is a big chunk of code that can probably be made to look nicer via dplyr:

[code]

Refs to a comment in the closing of #224

[2018-07-30 18:51] ErinBecker opened #229 "Layered hillshade for DTM not rendering"
Something is wrong with the re-projection in [Episode 3](https://datacarpentry.org/r-raster-vector-geospatial/03-raster-reproject-in-r/index.html).

The call to `projectRaster()` (line 176) produces this warning message:

The resulting graphic looks like:
![screen shot 2018-07-30 at 11 47 53 am](https://user-images.githubusercontent.com/19176319/43416947-8c52dd86-93ee-11e8-80e2-2286e0e3816f.png)

[2018-07-30 22:59] obrl-soil commented on #229
I can replicate the issue with raster v 2.6-7. Strange, it works fine with command-line gdal eg

[code]
can't find similar cases on SO or anywhere. Source code suggests something funny is going on when the function pads the extent of the raster before warping, but I can't quite follow what its doing... might be worth posting to r-sig-geo.

[2018-07-31 17:56] ErinBecker opened #230 "Install ggspatial"
Episode 1 now uses the ggspatial package, but it is not installed on whatever system is building the lessons. We don't need to add ggspatial to the learner install instructions, as it is only used for demonstration code (not in any code that is shown to the learners).

[2018-07-31 19:26] ErinBecker commented on #133
Closes with #228

[2018-08-02 08:48] fmichonneau commented on #230
it looks like there is a bug with the checkpoint package when it's running on travis that makes package installation that requires compilation to fail. I changed a little how requirements are found and installed and so it looks like it's working now.

[2018-08-02 08:48] #230 closed

[2018-08-02 19:15] ErinBecker commented on #230
Thanks @fmichonneau!

[2018-08-02 22:48] ErinBecker commented on #218
Thanks for the feedback @jsta and @chris-prener. I added a callout in the episode where we first use geom_sf() explaining that this error is intermittent and is being worked on by the ggplot2 dev team. Closing this now.

[2018-08-02 22:48] #218 closed

[2018-08-02 22:49] ErinBecker commented on #186
I suggested some changes to episode 9 in https://github.com/datacarpentry/r-raster-vector-geospatial/pull/228. I'm not sure how those changes fit in to the discussion above, but am happy to amend my PR as needed!

[2018-08-02 22:51] ErinBecker commented on #214
I realized that this code is demonstration code and not shown to the learner, so it's ok to have it be more complex. Closing this issue.

[2018-08-02 22:51] #214 closed

[2018-08-02 22:53] ErinBecker commented on #215
@obrl-soil - I just finished going through each of the episodes a second time with general clean up (https://github.com/datacarpentry/r-raster-vector-geospatial/pull/228) and am following up on some of the existing issues. Have you had a chance to look at this one yet?

[2018-08-02 22:56] ErinBecker commented on #207
Fixed with https://github.com/datacarpentry/r-raster-vector-geospatial/pull/223

[2018-08-02 22:56] #207 closed

[2018-08-02 22:59] ErinBecker commented on #130
I've corrected image links as I read through the lessons. After merging **Addressed with https://github.com/datacarpentry/r-raster-vector-geospatial/pull/228**, they should all work. @fmichonneau will also run an automated check to double-check.

[2018-08-02 22:59] ErinBecker commented on #133
Closed with **Addressed with https://github.com/datacarpentry/r-raster-vector-geospatial/pull/228**

[2018-08-02 22:59] #133 closed

[2018-08-13 16:28] ErinBecker opened #233 "Explain overrides in Instructor Notes"
As per https://github.com/datacarpentry/r-raster-vector-geospatial/pull/232

[2018-08-17 19:07] ErinBecker commented on #229
I think it was just a matter of the layers being plotted in the wrong order. Only the second layer had alpha set , so when that layer was plotted first, you couldn't see the other layer. Fixed with https://github.com/datacarpentry/r-raster-vector-geospatial/pull/234

[2018-08-21 14:21] fmichonneau opened #237 "Simplify setup instructions"
The setup and data download instructions are comprehensive in the datacarpentry/geospatial-workshop repository. A subset of these instructions are included in this repo. It might be best to remove most of them here, and point to a single source.

[2018-08-21 14:25] chris-prener commented on #237
I think this is a great idea - the one thing missing from the `datacarpentry/geospatial-workshop` are instructions on data - I can port that over @fmichonneau ?

[2018-08-21 14:29] fmichonneau commented on #237
yes, that would be great. It would also be good to consolidate the information about the data by splitting information about what the data is about on the front page (https://datacarpentry.org/geospatial-workshop/) and instructions for download and unzipping to the setup page (https://datacarpentry.org/geospatial-workshop/setup.html). Thanks!

[2018-08-21 14:50] chris-prener commented on #237
this all makes sense. I can tackle this!

[2018-08-21 15:21] fmichonneau opened #239 "Remove ggspatial example"
Showing how to do the same thing twice in different ways introduces extra cognitive load. I don't think it's necessary to introduce the ggspatial package in episode 1. It's additionally confusing that the fill variable is different from the previous example where the data conversion is done manually with as.data.frame. I suggest we remove the call out box.

[2018-08-21 16:04] fmichonneau opened #240 "Remove or explain + coord_equal() in lesson 2"
Plots at the end of lesson 2 use `coord_equal()` while plots before that didn't.

Include an explanation of why it's being and what it is, or drop it.

[2018-08-21 16:22] #229 closed, assigned to nobody

[2018-08-21 16:24] fmichonneau opened #241 "lesson 3 -- include points of discussion"
Lesson 4 includes a couple of questions for which it would be good to provide solutions in the lesson are to include in the instructor guide. e.g.,

- does it make sense to have 30m trees in Harvard?
- what's the difference in the output generated by overlay and manual raster math?

[2018-08-22 18:49] ErinBecker commented on #240
Good catch @fmichonneau. All of the spatial plots in this lesson should use coord_equal(). I'll put in an explanation at the first use (episode 1) and will add that call to all the plots.

[2018-08-22 19:29] ErinBecker commented on #215
Since this function is only used in the demonstration code (and not in code shown to learners), it's not essential to fix before publication. I'm removing the milestone tag on this issue.

[2018-08-22 19:29] #216 closed

[2018-08-22 19:30] #165 closed

[2018-08-22 19:32] ErinBecker commented on #34
I'm adding a "wait" tag for this issue since it won't be complete before the initial publication.

[2018-08-22 19:34] ErinBecker commented on #73
Thanks all for the great discussion. I'm closing this issue as the lessons now consistently use terrain colors or viridis. Thanks to @obrl-soil for those changes!

[2018-08-22 19:34] #73 closed

[2018-08-22 19:37] ErinBecker commented on #95
@jsta - Thanks for the clarification. Could you please close and open a new issue?

[2018-08-22 19:38] #130 closed

[2018-08-22 19:39] ErinBecker commented on #130
Closing this issue as https://github.com/datacarpentry/r-raster-vector-geospatial/issues/114 will prompt @fmichonneau to look at the image links. All images do render now, but I know that @fmichonneau wants to change the mechanism by which they are rendered.

[2018-08-22 19:54] #239 closed

[2018-08-22 19:58] ErinBecker commented on #186
I don't think my changes in #228 resolved this issue. I see that the consensus is **not** to sweep the reprojection under the rug (as I've done in #228) but to have learners do something that will throw an error. Given the discussion above, however, it looks like there isn't an obvious/easy way to do that that fits with the structure of the lesson and the pedagogical goals. I'm going to add a "wai

[2018-08-22 20:03] ErinBecker commented on #195
Actually, this is the first time the learners deal with hex colors. The `rgb` call in episode 1 is in demonstration code that isn't shown to the learners. Closing this issue.

[2018-08-22 20:03] #195 closed

[2018-08-22 20:08] ErinBecker commented on #241
Related to https://github.com/datacarpentry/r-raster-vector-geospatial/issues/86

[2018-08-22 20:31] ErinBecker commented on #241
For the question about tree height, see #86
For the difference in output between overlay and manual raster math - I believe that there isn't a difference. The only difference should be in the speed of operations. Could I get confirmation from one of the @datacarpentry/geospatial-maintainers? @jsta @obrl-soil @r4space

[2018-08-22 23:13] obrl-soil commented on #215
Hey sorry, I thought I'd PR'd this ages ago but its still sitting in my fork - https://github.com/obrl-soil/r-raster-vector-geospatial/blob/master/_episodes_rmd/01-raster-structure.Rmd

Do you still want to keep ggspatial calls at all given @fmichonneau 's comments about cognitive load? I'm inclined to agree - my inclusion of ggspatial was originally to get around some pre geom_sf limitations, whi

[2018-08-23 00:31] #240 closed

[2018-08-23 15:12] #144 closed

[2018-08-23 15:26] fmichonneau opened #246 "Introduce `as()`"
In lesson 11, when using `crop()`, there is a call to `as()` to convert `aoi_boundary_HARV` to a "`Spatial`" object. It's the first time `as()` is used. Learners might be surprised it doesn't have the same syntax they might be familiar with from S3 classes (e.g., why isn't it `as.Spatial()`). So adding an explanation on `as()` might be needed.

Alternatively, I'm wondering if it might be preferabl

[2018-08-23 22:11] fmichonneau commented on #246
I added a sentence about `as()`

[2018-08-23 22:11] #246 closed

[2018-08-23 22:13] fmichonneau opened #247 "name all chunks that generate figures"

[2018-08-23 22:14] fmichonneau opened #248 "make local copies of external figures"
our lessons should be self-contained, make copies of external images to the repo

[2018-08-24 15:17] fmichonneau opened #249 "check that the "edit on github" work"
they might be pointing to the gh-pages branch instead of master

[2018-08-24 19:30] fmichonneau commented on #249
fixed with 4494f58e19804b48e680660cf36697c8ddd52376 and 90dead32441be93ec53f77680bdb3097f35b00f6

[2018-08-24 19:30] #249 closed

[2018-08-24 21:29] #247 closed

[2018-08-24 21:29] #248 closed

[2018-08-25 12:46] jsta commented on #241
My understanding is that manual raster math requires that the entire layer be loaded into memory. If you try manual raster math with very large layers you will run likely run out of memory. `overlay` solves this issue by performing calculations in chunks so the entire layer doesn't need to be loaded.

[2018-08-25 13:00] jsta opened #251 "Show how to convert a long-lat point csv to sf"
This issue is a follow-on from #95 where it was discussed that we never really show how to create an `sf` object by setting the projection with an EPSG code. My feeling is that we should do this in Ep 10 (Convert from .csv to a Shapefile in R) by showing `sf` object creation from a non-projected long-lat point csv:

[code]

I see two possibilities here:

* Convert `data/NEON-DS-Site-Layout-Files/H

[2018-08-25 13:00] #95 closed

[2018-08-30 02:32] #114 closed

[2018-09-18 17:36] ErinBecker commented on #237
Once the two PRs linked above are merged, this can be closed. I'll leave to the @datacarpentry/geospatial-maintainers to review and merge.

[2018-09-18 19:48] chris-prener commented on #237
OK thanks for letting me know!

[2018-09-19 09:28] jsta commented on #237
Looks good to me.

[2018-09-20 18:16] #237 closed

[2018-10-22 21:07] kenkellner opened #256 "Unnecessary coord_sf() calls in plotting examples?"
In lesson 6 there is a statement about the need to call `coord_sf()` when plotting `sf` objects with `ggplot`:

https://github.com/datacarpentry/r-raster-vector-geospatial/blob/16a9d65327090c4489fcb4f9e4460db799ad7097/_episodes_rmd/06-vector-open-shapefile-in-r.Rmd#L141

However when you call `coord_sf()` without any arguments, it just pulls the CRS from the first layer with a coordinate system an

[2018-10-22 23:41] jsta commented on #256
I agree that these lines are probably unnecessary but my read is that the calls to `coord_sf` were added to ease the transition from raster plotting using `coord_quickmap` in lesson 2. See #240, #242 and 9d5314578673e6cfefe5fe777bf653e5796ab560. Would this change make that transition more difficult? Is there a way to similarly streamline the raster plotting?

[2018-10-23 17:39] kenkellner commented on #256
That's a great point. I doubt it's possible to avoid calling `coord_quickmap` or a similar function since raster data isn't necessarily spatial and thus `geom_raster` or similar isn't going to make any guesses about how it should be plotted (i.e., with an associated projection) the way `geom_sf` would with shapefile data.

I would still argue that it's better to leave out the unnecessary line (and

[2018-10-23 23:18] ChuckFinley opened #257 "Broken Fisher Flux Tower link in lesson 6"
There's a broken link to a page about the Fisher flux tower in lesson 6 (06-vector-open-shapefile-in-r.Rmd:57). The broken link is http://www.neonscience.org/science-design/collection-methods/flux-tower-measurements. I think the correct page is https://www.neonscience.org/data-collection/flux-tower-measurements.

[2018-10-24 12:37] #257 closed

[2018-11-15 02:56] dvanic opened #259 "No data value is not displayed?"
I'm working through the materials preparing to teach them in Dec, and when I run

    GDALinfo("data/NEON-DS-Airborne-Remote-Sensing/HARV/DSM/HARV_dsmCrop.tif")

I am not getting the NA value information read correctly:

    rows        1367
    columns     1697
    bands       1
    lower left origin.x        731453
    lower left origin.y        4712471
    res.x       1
    res.y       1
    ys

[2018-11-15 23:17] dvanic commented on #215
What is the new way of generating this plot? And the error for this is currently being reflected in the lessons released on the website (aka it's cropping up with the error when make lesson-md is being run).

[2018-11-16 13:02] jsta commented on #215
Thanks for catching this! I opened a PR that replaces the calls to `ggspatial` with a solely `ggplot2` strategy from lesson 2.

[2018-12-05 21:30] bzip2 commented on #138
I hope it's OK to leave an internet crumb here for anyone trying to install the plotly library on Ubuntu for their Shiny server and encountering errors with sf and units. @lachlandeer's solution worked for me (R=3.5.1, Ubuntu=16.04).

[2018-12-14 01:35] obrl-soil commented on #215
That's very useful, thanks! I was short on time when this issue cropped up and couldn't really get my head around the changes. I have been frustrated by some geom_sf wierdnesses too, so I'll play around with ggspatial once your next update is available.

[2019-01-08 20:59] jebyrnes opened #261 "Provide links to Geocomputation in R"
All - might be worthwhile including a link to https://geocompr.robinlovelace.net/ in the materials. It's a fabulous reference to dig deeper!

[2019-01-13 19:17] chris-prener commented on #261
Highly endorse this suggestion!

[2019-01-21 19:37] jebyrnes opened #262 "Superfluous Add Plot Legend info in Explore and Plot by Shapefile Attributes"
In the Explore and Plot by Shapefile Attributes lesson, under Add Plot Legend, there is a good bit if info discussed that is never demoed. I refer to the following:

This can likely be cut, or more examples need to be added.

[2019-01-21 19:46] jebyrnes opened #263 "Add st_transform to Handling Spatial Projection & CRS in R"
While it's great that ggplot2 automatically reprojects, for other uses, learners will need to know that `st_transform` exists.

[2019-01-21 19:50] jebyrnes opened #264 "Add raster loading code back to Manipulate Raster Data in R"
Add raster loading code back to Manipulate Raster Data in R - likely just an echo=TRUE - so learners have what they need.

[2019-01-21 20:03] jebyrnes opened #265 "ep 11Manipulate raster lesson missing object"
`CHM_HARV_sp <- st_as_sf(CHM_HARV_df, coords = c("x", "y"), crs = utm18nCRS)` needs to be added back to the Manipulate Raster lesson, as it's called in ggplot, but not created anywhere currently.

[2019-01-21 20:04] jebyrnes commented on #265
Should probably also be renamed `CHM_HARV_sf` - guessing this is some legacy stuff.

[2019-01-21 20:14] jebyrnes opened #266 "User tidyr instead of reshape for raster time series"
If we're using dplyr and the tidy verse, we should be using `tidyr` instead of `reshape` for all of the manipulations in the raster time series lesson.

[2019-01-21 20:19] jebyrnes opened #267 "filter instead of subset in raster time series"
If we're going to be consistent and use dplyr, should we be using `filter` instead of `subset` in the raster time series lesson?

[2019-01-21 20:24] jebyrnes opened #268 "Use plotRGB in Raster Time Series or Change Multiband Raster Lesson"
The raster time series lesson has learners plotting RGB satellite imagery using `ggplot` - the exercise even shows them how to create a RGB column. However, the earlier multi band raster lesson never uses `ggplot`, but instead uses `plotRGB`. Either we should use `plotRGB` in the time series lesson, or introduce using `ggplot` for multi band rasters in lesson 5. I favor the later, as we use `ggplo

[2019-01-21 20:27] jebyrnes opened #269 "Is the Create Publication-quality Graphics necessary?"
If there's a lesson to cut, I'd cut this one. It's basically more ggplot2 tricks, which is great, but I think we arm learners with enough tools that they can get this info outside of the workshop. It also interrupts the flow of the time series raster material.

[2019-01-21 20:31] jebyrnes opened #270 "Use already created tidy data frame for Derived Values from Raster Timeseries"
If tidyr is used in raster time series lesson, rather than using cellStats and extracting things from row names (consider switching to `stringr` here), we can use `dplyr` functions `group_by` and `summarize` which have more general utility here.

[2019-01-21 21:44] jsta commented on #263
Would be great to have an example using `st_transform` that addresses #186

[2019-01-23 20:01] jebyrnes opened #274 "Put in more about the WKT specification"
Inserting the image of different geometries from https://en.wikipedia.org/wiki/Well-known_text would be very helpful for learners to see the different forms straight off the bat.

[2019-01-24 14:18] jsta commented on #274
I think we decided to move the discussion of vector forms to https://datacarpentry.org/organization-geospatial/02-intro-vector-data/index.html. Do you think we need a pointer/link to this page in https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r/index.html ?

[2019-01-24 15:02] jsta commented on #261
Maybe an appropriate place would be the `More Resources` callout boxes.

[2019-01-24 16:04] jebyrnes commented on #274
That might be a good idea - but I think the image in the wikipedia entry is just a really nice thorough bit on what one might encounter.

[2019-02-11 04:39] largek commented on #138
Thanks @lachlandeer, this worked perfectly (R3.5.1, ubuntu18.04, virtualbox, windows7).

[2019-04-16 21:45] fmichonneau opened #285 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [x] Example code chunks run as expected
- [x] Challenges

[2019-05-08 14:23] evebohnett opened #288 "coordinate system mismatch in aoi bounding box"
Lesson 6: Open and Plot Shapefiles in R

In this lesson, there is a emphasis on understanding what the coordinate system is for the data, and looking for the UTM CRS info for the blue bounding box.

Then after the plot renders we can see that the plot is projected in lat long, so there's a mismatch somewhere. Either the ggplot doesn't understand it's in UTM or it's projecting on the fly into lat l

[2019-05-08 15:38] jsta opened #289 "Remove lesson 6 geom_sf data tip?"
It looks like the `geom_sf` error pointed out by the lesson 6 [data tip](https://github.com/datacarpentry/r-raster-vector-geospatial/blob/master/_episodes_rmd/06-vector-open-shapefile-in-r.Rmd#L150) is solved by upgrading to the latest version of RStudio (https://github.com/tidyverse/ggplot2/issues/2252#issuecomment-428871119). Should we remove it?

[2019-05-08 15:50] jsta commented on #288
Thanks for the report! I can see what you mean. One option I see would be to show people how to plot the UTM coordinate labels (use the `datum` flag in `coord_sf`) but I rarely see this done in practice...

[code]

[2019-05-08 21:44] ErinBecker commented on #289
Great, yes! thanks @jsta  for noticing this. It will be important to also make the corresponding changes to the setup instructions. Could you put in a PR for these two things together?

[2019-05-09 12:51] jsta commented on #289
For the setup instructions, do you mean specifying an RStudio version number?

[2019-05-09 18:31] chris-prener commented on #289
I can also make the changes to the setup instructions, @jsta if you don't want to make a PR!

[2019-05-10 18:47] jsta commented on #289
I opened a PR to remove the data tip from this lesson. @chris-prener do you want to make the corresponding adjustment to https://github.com/datacarpentry/geospatial-workshop?

[2019-05-13 20:32] ErinBecker commented on #289
Thanks @jsta and @chris-prener. I'm happy to review any PRs if it would be useful. Please ping me if desired. 🙂

[2019-05-14 15:16] chris-prener commented on #289
yes - I'm on it @jsta!

[2019-05-26 10:45] fmichonneau opened #291 "possibly broken URLs"
In preparation for the June 2019 release, we are looking for broken links in the lessons. We identified the links below as possibly being problematic:

[code]

Let me know if you have any questions. Thanks!

[2019-05-27 14:06] jsta commented on #291
Most of these seem like straight-forward updates except the regex and NEONlinks. Maybe use [this link](https://www.rstudio.com/wp-content/uploads/2016/09/RegExCheatsheet.pdf) for regex and [this other link](https://www.neonscience.org/data-collection/flux-tower-measurements) for NEON?

[2019-05-28 13:33] #291 closed

[2019-06-03 16:33] angela-li opened #293 "Curriculum needs double amount of time than budgeted"
Not sure if I'm teaching too slowly, but I found when teaching the first section of this workshop that the timings are ½ to ⅔ of the time that I actually needed to cover the curriculum material. There is a lot of new syntax in parts, and various demos take more time than budgeted for.

Has anyone else run into this problem with this curriculum?

[2019-06-03 16:37] jebyrnes commented on #293
Yes! We did. I really wonder to what extent we can blend the R intro with the geospatial stuff more effectively to shorten it.

[2019-06-03 22:56] ErinBecker commented on #285
Hey Maintainers - just checking in to see if you're still planning on joining the release this month. We're asking that all lessons have completed the checklist by [Tuesday, 4 June, Anywhere on Earth time](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190604T235959&p1=3399) in order to be included in the release. Please let me and @fmichonneau know if you have any questions or are ru

[2019-06-04 09:16] fmichonneau commented on #293
that would require some work to get it right, but I think it would make the lesson better.

[2019-06-04 16:28] chris-prener commented on #289
This has been addressed in a new PR on the `geospatial-workshop` - I think we can close once the PR is reviewed/accepted?

[2019-06-07 20:04] jsta commented on #285
Only box I haven't checked is the schedule box because although we have a schedule its not "real". It's just half hour increments #293

[2019-06-08 13:40] jsta commented on #269
I can see your point. Maybe an alternative is to integrate this material as "challenges" in other lessons?

[2019-06-08 14:13] jsta commented on #293
I would be good to revise the schedule numbers. I recall somewhere there was a thread of instructor feedback but I'm having trouble finding it. Can someone link it here?

[2019-06-10 15:42] ErinBecker commented on #293
Here you go: https://github.com/datacarpentry/geospatial-workshop/issues/31

[2019-06-10 19:38] ErinBecker commented on #285
Thanks @jsta. Updating the schedule would be great. Do you think you'll be able to get this in before the lesson release this week? @fmichonneau and I are just starting the process now and can maybe hold off on this lesson a few days to get that last PR in. I really want to include this lesson in the release - there has been a lot of progress on it and it's looking really great!

[2019-06-11 13:11] jsta commented on #285
Yes, I look at it this week.

[2019-06-11 15:20] #289 closed

[2019-06-11 15:43] jsta commented on #293
Just added a PR to increase lesson timings with the exception of lesson 6 (instructor feedback said it took 30 minutes).

[2019-06-11 17:27] #293 closed

[2019-06-11 17:27] ErinBecker commented on #285
With #293 - this checklist is now complete and lesson is ready to publish!

[2019-06-11 23:19] ErinBecker commented on #285
Awesome work @datacarpentry/r-raster-vector-geospatial-maintainers  and everyone else who contributed! This is just a quick message confirming that this lesson will be included in the release that @fmichonneau and I are preparing this week. The release is scheduled to go through on the 18th and to be announced to the community on the 24th. Please let us know if you have any questions! And congratu

[2019-06-14 11:45] jonmcalder commented on #138
This was helpful - thanks @lachlandeer! (R 3.4.4, Ubuntu 16.04.6 LTS)

[2019-06-25 00:12] ErinBecker opened #296 "Suggestions submitted by email for instructor training"
Please see https://github.com/datacarpentry/geospatial-workshop/issues/44

[2019-06-27 17:53] fmichonneau commented on #285
Lesson released! :tada: https://doi.org/10.5281/zenodo.3258818

[2019-06-27 17:53] #285 closed

[2019-07-03 13:03] jsta commented on #296
Looks like the suggestion here is to more obviously separate/denote raster and vector lessons.

[2019-08-18 12:49] ashander commented on #288
Great point about this lesson!

Digging a bit it seems like this is a known issue (https://github.com/tidyverse/ggplot2/issues/2200#issuecomment-315377512) and the workaround (`datum=NULL`) is given in the help for `sf::st_graticule` . It doesn't seem like the docs for `ggplot2::coord_sf` really reflect this change as of `ggplot2_3.2.0`

[2019-09-20 04:10] rbavery commented on #268
We just ran this workshop and found that learners really liked plotRGB because it was faster and took less code to get a simple interactive plot. The wait times for coding up multiple line sin ggplot and for the plots to complete was, I think, a barrier to getting to cover all the material. I propose that we should use the `plotRGB` and `plot` functions for most of the examples in this lesson, whi

[2019-09-20 05:51] marwahaha opened #302 "use a different file naming system"
@rbavery and I taught a workshop with this lesson in it this week.

The most frequent learner complaint was about the filenames. I think they found them strange and cryptic (with acronyms like `DTM`), too similar (`DSM` vs `DTM`), but perhaps too long (`DTM_hill_HARV_df`).

I think we would prefer to see more "human-friendly" names, like `surface_HARV` and `terrain_HARV_df`.

What do you all think

[2019-09-20 11:50] jsta commented on #302
Makes sense to me but I'm less familiar with conventions for this type of data. Is it useful for people to know the DTM and DSM acronyms?

[2019-09-20 17:56] jsta commented on #268
This a challenge we have to deal with when trying to cover but vector and raster material. My personal preference is to keep all plotting in `ggplot` so we're not switching tools halfway through. Here is a link to an extensive thread where we discussed using `ggplot` over base plotting: https://github.com/datacarpentry/r-raster-vector-geospatial/issues/133

[2019-09-20 22:30] rbavery commented on #268
Thanks for the info @jsta. I confess that I'm not an R user in my day to day so I'd appreciate input on what plotting tools folks use most frequently with rasters. When I'm using python as my GIS for exploratory analysis, mostly I'm using single calls to functions akin to `plot` and `plotRGB`, then using something like `ggplot` at the end of the exploratory analysis stage to make a presentable plo

[2019-10-06 10:11] dpshelio opened #303 "topic for the repository"
Please, consider adding a `lesson` topic to the repository. To do so you can [follow the help about how to add topics to the repository](https://help.github.com/en/articles/classifying-your-repository-with-topics). Check out the topics that the [Genomics R intro lesson](https://github.com/datacarpentry/genomics-r-intro) has gotten to add others that may be relevant to this lesson.

This will help

[2019-10-10 05:49] fmichonneau commented on #303
Adding GitHub Topics is not within the scope of the GitHub permissions for Maintainers. We are coordinating an effort to standardize GitHub Topics across all our repositories. We are seeking input and feedback from Maintainers on the list of proposed topics. Please see the Request For Comments (RFC) in this GitHub issue: https://github.com/carpentries/maintainer-RFCs/issues/5

[2019-10-10 05:49] #303 closed

[2019-12-02 13:47] jsta commented on #215
All the `geom_spatial` calls have been removed for some time now. Closing here but we can revisit `ggspatial` in a new issue if desired.

[2019-12-02 13:47] #215 closed

[2019-12-16 00:13] sjgraves opened #305 "removing "scale" argument in plotting RBG with image stretch"
Episode 5 (working with multi-band rasters) introduces the concept of image stretching when plotting a full color RGB. After the explanation of image stretching, the plotRGB function is used again, with the added arguments of stretch and scale. For example:

plotRGB(RGB_stack_HARV,
        r = 1, g = 2, b = 3,
        scale = 800,
        stretch = "lin")

It's not apparent that the scale argument

[2019-12-17 19:03] dcarver1 commented on #302
I think the acronyms (DSM and DTM) would work just fine if you included the top half of the image in lesson 3 within the introduction section. By providing a clear visualization of what these datasets are,  individuals who have not worked with them can find meaning to the three letters.

I do think that the filenames/object names could be improved by removing HARV. The site acronym is inherent in

[2019-12-17 19:55] dcarver1 opened #307 "Intergrating tmap and qtm() for quick visualization of raster/vector data"
Hello,
I appreciated the direction and overall need for this lesson, but as I was working through, I couldn't help but think to myself that this was a lot of flipping rasters to data frames and building out ggplot statements.
I understand the utility of ggplot, and it should be a core part of this lesson. Yet, in my workflows with spatial data in R, I rely heavily on the library [tmap ](https://cr

[2019-12-18 01:50] jsta commented on #307
Hi @dcarver1, you might be interested in previous discussion of `tmap` in #133 and links therein. Personally, I favor a `ggplot` only approach because it means that only one tool needs to be explained and `ggplot` has more "brand" recognition outside the spatial community. I do agree with your point however that `ggplot` plotting of `raster` objects is a bit clunky.

[2019-12-18 13:44] jsta commented on #305
Sounds good to me. Could you open a pull request for this change?

[2019-12-18 14:47] ajkmccullum opened #308 "Need to install magrittr in Ep 2"
Episode 2: In the first section "Plotting Data Using Breaks" I had to also install the "magrittr" library to get the pipe operator %>% function working. It would also be useful to remind students what %>% is.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progres

[2019-12-18 14:48] ajkmccullum opened #309 "Ep 11: HARV_chmCrop not defined"
- Episode 11: This issue I had with Episode 11 created issue with making the first plot in Ep11. perhaps this is an error or mistake I made earlier, but this code did not work because HARV_chmCrop was not defined:
ggplot() +
  geom_raster(data = CHM_HARV_df, aes(x = x, y = y, fill = HARV_chmCrop)) +
  scale_fill_gradientn(name = "Canopy Height", colors = terrain.colors(10)) +
  geom_sf(data = aoi_

[2020-01-21 16:21] jsta commented on #186
Just came across an operation that will fail silently if projections are mismatched. Running `raster::mask` will produce a blank output and no error message.

[2020-01-24 22:42] rbavery commented on #134
Hi @ErinBecker just curious what the status of this is? I'll be teaching some geospatial R plotting and since most time is spend doing interactive analysis rather than publication quality static graphics I'd prefer to show folks first how to use [mapview](https://r-spatial.github.io/mapview/). If there's something already in the works for interactive mapping in R I would love to work off of that,

[2020-02-18 20:43] jsta opened #310 "First challenge in the raster structure lesson is incorrect"
We cannot tell the units of our elevation data from the crs. Rather, the crs tells us the x and y units but not the z (elevation) units.

[2020-03-04 17:55] kerchner commented on #134
We used this material before, and it worked well.  Took about an hour:

https://hautahi.com/rmaps

I think the main issue here is that many learners would like to walk away knowing how to create a choropleth map, whether it's interactive, like with leaflet, or static.  Leaflet is great, by the way, but it might be one step beyond simpler cholopleth mapping, in terms of a logical order of instructi

[2020-03-04 21:09] jsta commented on #134
I favor `mapview` for it's simplicity so my strategy during workshops is to continually encourage learners to view their output using `mapview`. My preference would be to include a tooltip pointing learners to `mapview` and reminder for instructors in the notes rather than writing standalone interactive plotting content.

[2020-03-07 14:29] mstrimas commented on #307
I'm working through these lessons in preparation for teaching an upcoming workshop and want to second the opinion that ggplot2 is the wrong choice for much of this material, for the following reasons:

1. It won't plot rasters natively so we're always having to convert to data frames
2. ggplot2 performs poorly for large rasters and requires loading all the data into memory, loosing one of the main

[2020-03-08 15:21] mstrimas opened #311 "Is "in R" necessary at the end of every episode title?"
A small thing, and not very important, but it seems redundant to end every episodes title with "in R" since the name of the lesson is "Introduction to Geospatial Raster and Vector Data with R" and all the episodes use R. Furthermore, there are three episodes that don't say "in R" that do in fact use R....

[2020-03-08 15:30] mstrimas opened #312 "Remove use of "shapefile" as a synonym for vector data"
In episode titles, and throughout the episode text, this lesson propagates the common, and incorrect usage, of "shapefile" as identical to vector data, spatial features, etc. I know all our vector data come from shapefiles, but titling an episode "Explore and Plot by Shapefile Attributes" is misleading because we can plot much more than shapefile, e.g. CSVs converted to spatial features, data from

[2020-03-08 19:42] mstrimas commented on #262
Agreed, I found this quite confusing, none of the text lines up with the code, I second removing it. In fact, I'd just removed the whole section, there's nothing particularly interesting from a geospatial perspective here and there's already too much material to cover...

[2020-03-08 19:48] mstrimas commented on #256
I agree with @kenkellner here, `coord_sf()` is certainly superfluous, and should probably be removed entirely. I don't see how it eases the transition, it's very rare to use `coord_` in general with ggplot2, plotting raster data is an oddity in that respect, and if anything, I think not using `coord_sf()` would be less confusing in comparison to normal ggplot2 use, e.g. as they would have learned

[2020-03-08 20:28] mstrimas commented on #233
I found this whole episode a challenge to work with and I'll probably skip or greatly simplify when teaching. ggplot2 legends don't do well when plotting multiple vector layers with different symbol types. Having to detour to explain the needed overrides in the challenge solution seems like a huge time sink that will almost certainly lead to confusion. Glossing over the legend issue, essentially w